body {
    overflow: hidden;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 1.5em;

    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    font-family: 'Merriweather', serif;
}

html {
    height: -webkit-fill-available;
}
#ch_content, #ch_shadow_content {
    width: 80vw;
    height: 90vh;
    left: 10vw;
    top: 5vh;
    display: block;
    position: fixed;
    word-wrap: break-word;
}
#ch_shadow_content {
    visibility: hidden;
}
img, svg {
    max-height: 80vh !important;
    max-width: 80vw !important;
    width: auto;
    height: auto;
}
a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
table, th, td {
    border: 1px solid black;
}