body {
    overflow: hidden;
    background-color: white;
    color: white;
    padding: 0;
    margin: 0;
}

#content {
    display: none
}

#prev {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100vh;
    background-color: #00ff0077;
}

#next {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100vh;
    background-color: #0000ff77;
}

#toolsButton {
    display: block;
    position: fixed;
    bottom: 0;
    left: 5vw;
    width: 90vw;
    height: 5vh;
    background-color: #1a1a1a77;
}

#pageContainer {
    width: 90vw;
    position: fixed;
    left: 5vw;
    height: 95vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /*background-color: #ff000077;*/
}

#page {
    /*border: 1px solid #ff0000aa;*/
    padding: 1vmax;
    /*margin: 1vh 1vw;*/
    font-size: 1.2em;
    color: black;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    font-size: 2em;
    text-align: center;
    padding-top: 40vh;
    color: black;
}

#tools {
    display: block;
    position: fixed;
    bottom: 5vh;
    width: 90vw;
    left: 5vw;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: 1px solid gold;
    /*padding: 1vw;*/
    text-align: center;
    font-size: 1.3em;
}
#tools h1 {
    margin-bottom: 2vh;
    font-size: 1em;
}
#tools p {
    margin-top: 2vh;
}
#tools input {
    font-size: 1em;
    background-color: gold;
    padding: .1em;
    width: 5vw;
}
#tools a {
    color: gold;
    text-decoration: underline;
    margin-left: .5em;
    margin-right: .5em;
    display: inline-block;
}
#mainButtons {
    font-size: 2em;
}
#mainButtons a {
    text-decoration: none;
    padding: .3em;
    margin-left: .1em;
    margin-right: .1em;
    width: 1.5em;
    background-color: gold;
    color: black;
}

img, svg {
    max-height: 80vh !important;
    max-width: 80vw !important;
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)
{
    #next, #prev {
        width: 5vw;
    }
    #toolsButton {
        width: 90vw;
        left: 5vw;
    }
    /*#pageContainer {
        width: 90vw;
        left: 5vw;
    }*/
    #page {
        /*padding: 2vh 2vw;
        margin: 1vh 1vw;*/
        font-size: 2.4em;
    }
    #tools {
        width: 90vw;
        left: 4vw;
        font-size: 3em;
    }
}