:root {
    --accent-color: gold;
    --status-bar-color: gold;
    --foreground-color: black;
    --background-color: white;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: var(--status-bar-color, gold);
    text-align: center;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
#ch_canv {
    display: block;
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    touch-action: none;
}
img {
    position: fixed;
}
.spinner {
    display: block;
}