:root {
    --accent-color: gold;
    --status-bar-color: gold;
    --text-color: black;
    --background-color: white;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    /*touch-action: none;
    -webkit-touch-callout: none !important;
    -ms-touch-action: none;*/
    /*-webkit-user-select: none !important;*/
}
/*html {
    -ms-touch-action: none;
    touch-action: none;
}*/
body {
    background-color: var(--status-bar-color, gold);
    text-align: center;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    /*touch-action: none;*/
}
#ch_canv {
    display: block;
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    /*touch-action: none;
    cursor: pointer;*/
}
img {
    position: fixed;
    /*touch-action: none;*/
}
/*#content {
    touch-action: none;
}*/
.spinner {
    display: block;
}