* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    text-align: center;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#ch_canv {
    display: block;
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
}

img {
    position: fixed;
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)
{
    #spinner {
        width: 15vw;
        height: 15vw;
    }
}