textarea, input[type="text"], input[type="password"] {
    display: inline-block;
    font-size: 1em;
    height: 1.5em;
    background-color: gold;
    border: 2px solid white;
    color: black;
}

input::placeholder, textarea::placeholder {
    color: white;
    font-style: italic;
    opacity: 1;
}

input[type="submit"], input[type="button"] {
    display: inline-block;
    font-size: 1em;
    height: 1.5em;
    background-color: gold;
    border: 2px solid white;
    color: black;
}