:root {
    --accent-color: gold;
    --foreground-color: black;
    --background-color: white;
}
textarea, input, p {
    font-family: 'Roboto', sans-serif;
}

textarea, input[type="text"], input[type="password"] {
    display: inline-block;
    font-size: 1em;
    height: 1.5em;
    background-color: var(--accent-color, gold);
    border: 2px solid var(--background-color, white);
    color: var(--foreground-color, black);
}
textarea {
    width: 100%;
    height: 50vh;
}

input::placeholder, textarea::placeholder {
    color: var(--background-color, white);
    font-style: italic;
    opacity: 1;
}

input[type="submit"], input[type="button"] {
    display: inline-block;
    font-size: 1em;
    height: 1.5em;
    background-color: var(--accent-color, gold);
    border: 2px solid var(--background-color, white);
    color: var(--foreground-color, black);
    cursor: pointer;
}