:root {
    --accent-color: gold;
    --foreground-color: black;
    --background-color: white;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: var(--accent-color, gold);
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}
body > * {
    background-color: var(--background-color, white);
    color: var(--foreground-color, black);
}
h1 {
    padding: 15px 1.4285%;
    background-color: var(--accent-color, gold);
}
ul {
    display: grid;
    row-gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
    list-style-type: none;

    padding-left: 1.4285%;
    width: 98.5714%;
    grid-template-columns: 15.2173% 15.2173% 15.2173% 15.2173% 15.2173% 15.2173%;
    column-gap: 1.4492%;
}
li {
    overflow: hidden;
    position: relative;
}
li a {
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--foreground-color, black);
}
span.cover {
    position: relative;
    display: inline-block;
    height: 25vw;
    width: 100%;
    overflow: hidden;
}
span.cover img {
    position: relative;
}
span.progressbar {
    position: absolute;
    display: block;
    left: 4%;
    bottom: 4%;
    width: 88%;
    height: 4%;
    background-color: var(--background-color, white);
    border: 1px solid var(--foreground-color, black);
    padding: 1%;
}
span.read {
    display: block;
    background-color: var(--foreground-color, black);
    height: 98%;
}
span.progresscheck {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    padding: 0;
    height: 16%
}
span.progresscheck svg {
    height: 100%
}
span.progresscheck svg path {
    stroke-width: .1px;
    stroke: var(--foreground-color, black);
    fill: var(--background-color, white);
}
span.progresscheck.downloaded svg path {
    fill: var(--accent-color, gold);
}
span.progressbar.downloaded {
    background-color: var(--accent-color, gold);
}

@media (orientation: portrait)
{
    h1 {
        padding: 15px 2.5%;
    }
    ul {
        padding-left: 2.5%;
        width: 97.5%;
        grid-template-columns: 30.76% 30.76% 30.76%;
        column-gap: 2.56%;
    }
    span.cover {
        height: 50vw;
    }
}
/** {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    background-color: var(--background-color, white);
}
h1 {
    padding: 1vw;
    font-weight: bold;
    font-size: 1.6em;
    background-color: var(--accent-color, gold);
}
.collection-container ~ .collection-container {
    margin-top: 1vw;
}*/
h1 > * {
    margin-right: .2em;
    color: var(--foreground-color, black);
}
h1 a {
    text-decoration: underline;
    color: var(--foreground-color, black);
}
.tools {
    display: grid;

    background-color: var(--foreground-color, black);
    color: var(--accent-color, gold);
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    /*max-width: 100%;*/
    border-top: 2px solid var(--background-color, white);
    border-bottom: 2px solid var(--background-color, white);

    align-items: center;
    justify-items: middle;

    /*padding-left: 2%;*/
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;

    grid-template-columns: 9fr 1fr 1fr 1fr;
    /*column-gap: 2%;*/
}
.tools > * {
    height: 1em;
}
#ch_latestRead {
    display: none;
}

#search {
    font-size: 1em;
    padding: .1em;
    position: relative;
    display: inline-block;
}
/*@media all and (max-width: 399px) {
    #search {
        width: 40vw;
    }
}*/
#clearsearch, #toggleTitles {
    position: relative;
    /*height: 2em;*/
    display: block;
    background: none;
    /*margin-left: -40px;*/
    font-size: 1em;
    font-weight: bold;
    color: var(--background-color, white);
    border: none;
}
.tools svg {
    height: 100%;
}
.tools path {
    stroke-width: .2px;
    fill: var(--accent-color, gold);
    stroke: var(--background-color, white);
}
#toggleTitles path {
    fill: var(--foreground-color, black);
    stroke: var(--background-color, white);
}
#toggleTitles.selected path {
    fill: var(--accent-color, gold);
    stroke: var(--background-color, white);
}

.tools a {
    /*margin-left: 2vw;*/
    color: var(--accent-color, gold);
    /*border: 2px solid var(--accent-color, gold);*/
    text-decoration: none;
    padding: .1em;
}
/*.imgdiv {
    position: relative;
    display: inline-block;
    width: 15vw;
    height: 25vw;
    overflow: hidden;
    text-decoration: none;
    margin: 1vw 0 0 1vw;
}*/
#spinner {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 5vw;
    height: 8vw;
    display: none;
    z-index: 1000;
    background: transparent;
}
#spinner svg {
    width: 100%;
    height: 100%
}
/*
.imgdiv img {
    position: relative;
}
.imgdiv .pagenum {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: var(--background-color, white);
    padding: .5em;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--foreground-color, black);
}
.imgdiv .title {
    position: absolute;
    display: block;
    left: 4%;
    top: 4%;
    width: 82%;
    padding: 4%;
    color: var(--background-color, white);
    font-size: 2vw;
    font-weight: bold;
    background-color: #00000099;
    max-height: 76%;
    overflow: hidden;
    border: 1px solid var(--foreground-color, black);
}
.imgdiv .progressbar {
    position: absolute;
    display: block;
    left: 4%;
    bottom: 4%;
    width: 88%;
    height: 4%;
    background-color: var(--background-color, white);
    border: 1px solid var(--foreground-color, black);
    padding: 1%;
}
.imgdiv .progresscheck {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    padding: 0;
    font-weight: bold;
    height: 16%
}
.imgdiv .progresscheck svg {
    height: 100%
}

.imgdiv .progresscheck svg path {
    stroke-width: .1px;
    stroke: var(--foreground-color, black);
    fill: var(--background-color, white);
}

.imgdiv .progresscheck.downloaded svg path {
    fill: var(--accent-color, gold);
}

.imgdiv .progressbar.downloaded {
    background-color: var(--accent-color, gold);
}
.imgdiv .progressbar .read {
    display: block;
    background-color: var(--foreground-color, black);
    height: 98%;
}*/
#fin {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    border: 0;
    background-color: var(--background-color, white);
}

/*@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)*/
@media (orientation: portrait)
{
    #spinner {
        width: 15vw;
        height: 25vw;
    }
    /*.imgdiv {
        width: 30vw;
        height: 50vw;
        margin: 2vw 0 0 2vw;
    }
    h1 {
        padding: 2vw;
    }
    .collection-container ~ .collection-container {
        margin-top: 2vw;
    }
    .imgdiv .title {
        font-size: 4vw;
    }*/
    .tools {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
    }
    #search {
        grid-column: 1 / 6;
        grid-row: 1;
    }
    #clearsearch {
        grid-column: 2;
        grid-row: 2;
    }
    #toggleTitles {
        grid-column: 3;
        grid-row: 2;
    }
    #more {
        grid-column: 4;
        grid-row: 2;
    }
}

#ch_spinner_svg .background {
    stroke: var(--background-color, white);
}
#ch_spinner_svg .foreground {
    stroke: var(--foreground-color, black);
}
#ch_spinner_svg .accent {
    stroke: var(--accent-color, gold);
}