:root {
    --accent-color: gold;
    --accent-text-color: black;
    --status-bar-color: gold;
    --text-color: black;
    --ribbon-color: black;
    --ribbon-text-color: white;
    --background-color: white;
    --title-display: none;
    --progress-line-color: black;
    --progress-background-color: white;
    --downloaded-progress-line-color: black;
    --downloaded-progress-background-color: gold;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    overflow:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body {
    background-color: var(--status-bar-color, gold);
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body > * {
    background-color: var(--background-color, white);
    color: var(--text-color, black);
}
h1 {
    padding: 15px 1.4285%;
    background-color: var(--accent-color, gold);
    color: var(--accent-text-color, black);
}
ul {
    display: grid;
    row-gap: 1.4285vw;
    padding-top: 1.4285vw;
    padding-bottom: 1.4285vw;
    font-size: 1.4285vw;
    list-style-type: none;

    padding-left: 1.4285vw;
    width: 98.5715vw;
    grid-template-columns: repeat(6, 15vw);
    column-gap: 1.4285vw;
}
li {
    overflow: hidden;
    position: relative;
}
li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color, black);
}
span.cover {
    position: relative;
    display: block;
    height: 25vw;
    width: 100%;
    overflow: hidden;
}
span.cover img {
    position: relative;
}
span.progressbar {
    position: absolute;
    display: block;
    left: 5%;
    bottom: 3%;
    width: 84%;
    height: 3%;
    background-color: var(--progress-background-color, white);
    border: 1px solid var(--progress-line-color, black);
    padding: 2%;
}
span.read {
    display: block;
    background-color: var(--progress-line-color, black);
    height: 98%;
}
span.progresscheck {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    padding: 0;
    height: 16%
}
span.progresscheck svg {
    height: 100%
}
span.progresscheck svg path {
    stroke-width: .1px;
    stroke: var(--progress-line-color, black);
    fill: var(--progress-background-color, white);
}
span.progresscheck.downloaded svg path {
    fill: var(--downloaded-progress-background-color, gold);
    border: 1px solid var(--downloaded-progress-line-color, black);
}
span.progressbar.downloaded {
    background-color: var(--downloaded-progress-background-color, gold);
    border: 1px solid var(--downloaded-progress-line-color, black);
}
span.progressbar.downloaded span.read {
    background-color: var(--downloaded-progress-line-color, black);
}
span.title {
    display: var(--title-display, none);
    font-family: 'Merriweather', serif;
}
span.title * {
    display: inline-block;
    word-wrap: break-word;
}
span.title a {
    text-decoration: underline;
    width: auto;
}

@media (orientation: portrait)
{
    h1 {
        padding: 15px 2.5%;
    }
    ul {
        padding-left: 2.5vw;
        width: 97.5vw;
        grid-template-columns: 30vw 30vw 30vw;
        column-gap: 2.5vw;
        row-gap: 2.5vw;
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        font-size: 3vw;
    }
    span.cover {
        height: 50vw;
    }
}
h1 > * {
    margin-right: .2em;
    color: var(--accent-text-color, black);
    display: inline-block;
}
h1 a {
    text-decoration: underline;
    color: var(--text-color, black);
}
.tools {
    display: grid;
    background-color: var(--ribbon-color, black);
    color: var(--ribbon-text-color, white);
    font-size: 2em;
    padding-top: 1.4285vw;
    padding-bottom: 1.4285vw;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-left: 1.4285vw;
    padding-right: 1.4285vw;
    width: 97.143vw;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    column-gap: 1.4285vw;
    row-gap: 1.4285vw;
}
#ch_latestRead, #ch_latestReadTitle, #ch_latestAdded, #ch_latestAddedTitle {
    display: none;
}
#search {
    font-size: 1em;
    padding: .1em;
    position: relative;
    display: inline-block;
    justify-self: stretch;
}
@media all and (max-width: 399px) {
    ul {
        font-size: .8em;
    }
}
.tools button, .tools a {
    background: none;
    font-size: 1em;
    height: 1em;
    cursor: pointer;
}
.tools svg {
    height: 100%;
}
.tools path, .tools rect {
    stroke-width: 1px;
    fill: var(--ribbon-color, black);
    stroke: var(--ribbon-text-color, white);
}
.tools .active path, .tools .active rect {
    fill: var(--accent-color, gold);
}
.tools #refreshIcon {
    display: block;
}
.tools #clearIcon {
    display: none;
}
.tools .active #refreshIcon {
    display: none;
}
.tools .active #clearIcon {
    display: block;
}
.offline-message {
    color: var(--background-color, white);
}
.spinner {
    display: none;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    position: absolute;
}
#fin {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    border: 0;
    background-color: var(--background-color, white);
}

@media (orientation: portrait)
{
    #spinner {
        width: 15vw;
        height: 25vw;
    }
    .tools {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        width: 95vw;
        row-gap: 2.5vw;
        column-gap: 2.5vw;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    #search, .offline-message {
        grid-column: 1 / 6;
        grid-row: 1;
    }
    #clearsearch {
        grid-column: 2;
        grid-row: 2;
    }
    #toggletitles {
        grid-column: 3;
        grid-row: 2;
    }
    #more {
        grid-column: 4;
        grid-row: 2;
    }
}

.spinner .background {
    stroke: var(--background-color, white);
}
.spinner .foreground {
    stroke: var(--text-color, black);
}
.spinner .accent {
    stroke: var(--accent-color, gold);
}