:root {
    --accent-color: gold;
    --accent-text-color: black;
    --text-color: black;
    --background-color: white;
    --placeholder-color: #b39500
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
}
body {
    display:flex;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color, gold);
}
@media all and (max-width: 399px) {
    body {
        font-size: 1em;
    }
}
.container {
    margin: auto;
    position: relative;
    background-color: var(--accent-color, gold);
    color: var(--accent-text-color, black);
    padding: 1em;
    position: relative;
    text-align: center;
}
svg {
    width: 200px;
}
path {
    fill: var(--accent-text-color, black);
}
h1 {
    font-size: 1.1em;
    text-align: center;
    margin: .2em;
}
p {
    margin-bottom: 0;
    margin-top: 0;
    padding: .2em;
}
input[type="submit"] {
    cursor: pointer;
}
textarea, input[type="text"], input[type="password"], input[type="submit"], input[type="button"] {
    width: 100%;
    display: inline-block;
    font-size: 1em;
    height: 1.5em;
    background-color: var(--accent-color, gold);
    border: 2px solid var(--accent-text-color, gold);
    color: var(--accent-text-color, black);
}
input::placeholder, textarea::placeholder {
    color: var(--placeholder-color, #b39500);
    font-style: italic;
    opacity: 1;
}
input:focus, input:focus-visible {
    outline: none;
}