:root {
    --accent-color: gold;
    --status-bar-color: gold;
    --foreground-color: black;
    --background-color: white;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: var(--background-color, white);
    color: var(--foreground-color, black);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 1em;
}
h1 {
    font-size: 1.2em;
    margin: 0 0 1em 0;
}
p {
    margin: 0 0 1em 0;
}
#settings {
    display: grid;
    align-items: top;
    justify-items: left;
    row-gap: .5em;
    grid-template-columns: 1fr 1fr 1fr;
}
/*@media all and (max-width: 399px) {*/
@media (orientation: portrait) {
    #settings {
        grid-template-columns: 1fr 1fr;
    }
    label {
        grid-column: 1 / 3;
    }
}
a {
    color: var(--foreground-color, black);
    text-decoration: underline;
}
/*input {
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid var(--foreground-color, black);
}*/
label:after {
    content: ": "
}
input {
    height: 3vh;
    vertical-align: middle;
}
input[type=checkbox] {
    width: 3vh;
}

p.tree,
ul.tree,
ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: .05em;
}

ul.tree li {
    margin-left: 0.35em;
    padding-left: .5em;
    text-indent: -.5em;
    border-left: thin solid var(--foreground-color, black);
}

ul.tree li:last-child {
    border-left: none;
}

ul.tree li:before {
    width: 0.4em;
    height: 0.6em;
    margin-right: 0.1em;
    vertical-align: top;
    border-bottom: thin solid var(--foreground-color, black);
    content: "";
    display: inline-block;
}

ul.tree li:last-child:before {
    border-left: thin solid var(--foreground-color, black);
}
.expand {
    cursor: pointer;
    font-family: sans-serif;
    margin-left: .3em;
}

table {
    width: 100%;
    word-break: break-all;
}
table, th, td {
    border: 1px solid var(--foreground-color, black);
}
td {
    padding: 5px;
}

#spinner {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 5vw;
    height: 8vw;
    display: none;
    z-index: 1000;
}
#spinner svg {
    width: 100%;
    height: 100%
}
#ch_spinner_svg .background {
    stroke: var(--background-color, white);
}
#ch_spinner_svg .foreground {
    stroke: var(--foreground-color, black);
}
#ch_spinner_svg .accent {
    stroke: var(--accent-color, gold);
}