body {
    overflow: hidden;
    background-color: white;
    color: white;
}

#content {
    display: none
}

#prev {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100vh;
    /*background-color: red;*/
}

#next {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100vh;
    /*background-color: blue;*/
}

#pageContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0
    margin: 0
}

#page {
    /*border: 1px solid #ff0000aa;*/
    padding: 1vw;
    margin: 5vw;
    font-size: 1.2em;
    color: black;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    font-size: 2em;
    text-align: center;
    padding-top: 40vh;
    color: black;
}

#tools {
    display: block;
    position: fixed;
    bottom: 5vh;
    width: 30vw;
    left: 34vw;
    background-color: black;
    color: white;
    border: 1px solid gold;
    padding: 1vw;
    text-align: center;
    font-size: 1.3em;
}
#tools h1 {
    margin-bottom: 2vh;
    font-size: 1em;
}
#tools p {
    margin-top: 2vh;
}
#tools input {
    font-size: 1em;
    background-color: gold;
    padding: .1em;
    width: 5vw;
}
#tools a {
    color: gold;
    text-decoration: underline;
    margin-left: .5em;
    margin-right: .5em;
    display: inline-block;
}

img {
    max-height: 50vh;
    max-width: 50vw;
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)
{
    #next, #prev {
        width: 10vw;
    }
    #page {
        font-size: 2.5em;
    }
}