/* --------------------------------------------------------- page tools start */
#ch_tools_left {
    bottom: 0;
    left: 0;
    width: 10%;
    height: 10%;
    position: fixed;
}
#ch_tools_right {
    bottom: 0;
    right: 0;
    width: 10%;
    height: 10%;
    position: fixed;
}
#ch_prev {
    top: 0;
    left: 0;
    width: 10%;
    height: 90%;
    position: fixed;
}
#ch_next {
    top: 0;
    right: 0;
    width: 10%;
    height: 90%;
    position: fixed;
}
#ch_prev, #ch_next, #ch_tools_left, #ch_tools_right {
    display: block;
    position: fixed;
}
/* ----------------------------------------------------------- page tools end */

/* ------------------------------------------------------------ spinner start */
#ch_spinner {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a1a1add;
    text-align: center;
}
#ch_spinner a {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: gold;
}
#ch_errorPanel {
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: gold;
}
/* -------------------------------------------------------------- spinner end */

/* --------------------------------------------------------- containers start */
#ch_tools_container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a1a1aee;
}
#ch_tools {
    display: block;
    bottom: 0;
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow-y: auto;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    max-height: 100%;
    position: fixed;
    width: 80%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#ch_tools::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#ch_tools {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#ch_tools.left {
    text-align: left;
}
#ch_tools.right {
    text-align: right;
}
/* ----------------------------------------------------------- containers end */

/* ------------------------------------------------- general paragraphs start */
#ch_tools > p, #ch_tools > h1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.2em;
}
#ch_tools > h1 {
    font-weight: bold;
    font-size: 1.2em;
    padding: 8px;
}
#ch_tools > *:first-child {
    margin-top: 0.2em;
}
/* --------------------------------------------------- general paragraphs end */

/* ------------------------------------------ general paragraph content start */
#ch_tools > p > * {
    display: inline-block;
    padding: 8px;
    margin-left: 8px;
    background-color: #00000000;
}
#ch_tools.left > p >* {
    padding-right: 0;
}
#ch_tools.right > p > * {
    padding-left: 0;
}
#ch_tools > p > *:first-child {
    margin-left: 0;
}
#ch_tools > p > span {
    color: white;
    margin-left: 0;
}
#ch_tools > p > a {
    color: gold;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
}
/* -------------------------------------------- general paragraph content end */

/* -------------------------------------------------- table of contents start */
#ch_tools > p.ch_toc_separator {
    width: 100%;
    margin-top: 28px;
    border-top: 4px dotted white;
    margin-bottom: 28px;
}
#ch_tools.left span.expand {
    float: left;
}
#ch_tools.right span.expand {
    float: right;
}
#ch_tools li p {
    margin: 0;
    position: relative;
    margin-bottom: 5px;
}
#ch_tools.right li p {
    padding-right: 1em;
}
#ch_tools.left li p {
    padding-left: 1em;
}
#ch_tools.right li a {
    display: inline;
    word-wrap: break-word;
}
#ch_tools a.ch_chapter {
    color: white;
    background-color: #1a1a1a00;
    border: 0;
    text-decoration: underline;
    font-style: italic;
    font-weight: 300;
}
#ch_tools a.ch_current {
    color: gold;
}
#ch_tools li {
    list-style-type: none;
}
#ch_tools.left ul {
    padding-left: 30px;
    padding-right: 0;
}
#ch_tools.left li>p::before {
    content: "\2212";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
#ch_tools.left li.ch_withsubchapters>p::before {
    content: "+";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
#ch_tools.right ul {
    padding-left: 0;
    padding-right: 30px;
}
#ch_tools.right li>p::before {
    content: "\2212";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
#ch_tools.right li.ch_withsubchapters>p::before {
    content: "+";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
#ch_tools.left > ul, #ch_tools.right > ul {
    margin-top: 1em;
    padding-left: 0;
    padding-right: 0;
}
/* ---------------------------------------------------- table of contents end */

/* ----------------------------------------------------------- position start */
#ch_settings {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:5px;
    padding: 8px;
    display: none;
    align-items: center;
    justify-items: start;
    border: 4px dotted black;
}

#ch_tools.right #ch_settings {
    justify-items: end;
}

#ch_settings label:after {
    content: ": "
}

#ch_settings input {
    height: 3vh;
}

#ch_settings input[type=checkbox] {
    width: 3vh;
}

#ch_settings a {
    color: gold;
    text-decoration: none;
}

#ch_settings a.critical {
    color: orangered;
}

#ch_tools > p > input {
    font-size: 1em;
    background-color: gold;
    width: 2em;
    border: 2px solid rgb(255, 236, 133);
    z-index: 1000;
    margin-right: 8px;
    margin-left: 8px;
    text-align: center;
}
#ch_tools.left #positionInput, #ch_tools.right #positionInput {
    padding-left: 8px;
}
#ch_tools .ch_position_paragraph {
    text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* ------------------------------------------------------------- position end */