<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="readModeViewport" th:remove="tag">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, height=device-height, viewport-fit=cover">
</div>
<div th:fragment="normalModeViewport" th:remove="tag">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, height=device-height">
</div>
<div th:fragment="normalPage" th:remove="tag">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#FFD700">
    <link rel="manifest" href="manifest.json">

    <link rel="shortcut icon" href="/logo.png">
    <link rel="icon" href="/logo.png">

    <link rel="icon" sizes="16x16" href="/logo.png?size=16">
    <link rel="icon" sizes="24x24" href="/logo.png?size=24">
    <link rel="icon" sizes="32x32" href="/logo.png?size=32">
    <link rel="icon" sizes="48x48" href="/logo.png?size=48">
    <link rel="icon" sizes="64x64" href="/logo.png?size=64">
    <link rel="icon" sizes="192x192" href="/logo.png?size=192">

    <link rel="apple-touch-icon" href="/logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/logo.png?size=152">
    <link rel="apple-touch-icon" sizes="180x180" href="/logo.png?size=180">
    <link rel="apple-touch-icon" sizes="167x167" href="/logo.png?size=167">
</div>
</body>
</html>
