<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Comics Reader</title>
    <style>
        h1 {
            margin: .5vw;
        }
        .imgdiv {
            display: inline-block;
            width: 180px;
            height: 300px;
            overflow: hidden;
            text-decoration: none;
            margin: .5vw;
        }
        .imgdiv img {
            position: relative;
        }
    </style>
    <script>
        function scaleImage(image) {
            var imageContainer = document.getElementsByClassName("imgdiv")[0]
            var expectedHeight = imageContainer.offsetHeight
            var expectedWidth = imageContainer.offsetWidth
            if (image.naturalWidth / image.naturalHeight > expectedWidth / expectedHeight) {
                image.style.height = "100%"
            } else {
                image.style.width = "100%"
            }
            var differenceWidth = image.offsetWidth - expectedWidth
            var differenceHeight = image.offsetHeight - expectedHeight
            image.style.left = (- differenceWidth / 2) + "px"
            image.style.top = (- differenceHeight / 2) + "px"
        }
    </script>
</head>
<body>
    <div th:each="collection: ${comicCollections}">
        <h1 th:text="${collection.key}">Collection Name</h1>
        <p><a class="imgdiv" th:each="comic: ${collection.value}" th:href="'comic?id=' + ${comic.id}"><img onload="scaleImage(this)" th:src="${comic.cover}" th:title="${comic.title}"></a></p>
    </div>
</body>
</html>