<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/headFragment :: normalPage"></div>

    <title>Collections - Chronic Reader</title>

    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="more.css">
    <script src="settings.js"></script>
    <script src="util.js"></script>
    <script src="collectionList.js"></script>
</head>
<body>
<h1>A list of collections, so you know what to choose</h1>
<p><a th:href="@{/(search=${tree.search})}" th:text="${tree.name}">collection name</a></p>
<div th:fragment="fragment_node" th:remove="tag">
    <ul class="tree" th:if="${not #lists.isEmpty(tree.children)}" >
        <li th:each="child : ${tree.children}"
            th:inline="text"
            th:with="tree = ${child}">
            <a th:href="@{/(search=${child.search})}" th:text="${child.name}">collection name</a>
            <ul th:replace="this::fragment_node">List Item</ul>
        </li>
    </ul>
</div>
</body>
</html>