<html>
<head>
    <meta name="viewport"
          content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="comicId" content="1" th:content="${id}">
    <meta name="pages" content="20" th:content=${pages}>
    <meta name="startPage" content="0" th:content=${startPage}>
    <style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    #prev {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 10vw;
        height: 100vh;
        /*background-color: green;*/
        opacity: .5;
    }
    #next {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 10vw;
        height: 100vh;
        /*background-color: blue;*/
        opacity: .5;
    }
    #canv {
        display: block;
        position: fixed;
        top: 0;
        left: 10vw;
        width: 80vw;
        height: 100vh;
        /*background-color: yellow;*/
        opacity: .5;
    }
    p {
        text-align: center;
    }
    img {
        position: fixed;
    }
</style>
    <script src="hammer.min.js"></script>
    <script>
    function num(s, def) {
        var patt = /[\-]?[0-9\.]+/
        var match = patt.exec(s)
        if (match != null && match.length > 0) {
            var n = match[0]
            if (n.indexOf('.') > -1) {
                return parseFloat(n)
            } else {
                return parseInt(n)
            }
        }
        return def
    }

    function getViewportWidth() {
        return Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
    }
    function getViewportHeight() {
        return Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
    }
    function fixPosition() {
        var img = getImage()

        if (getZoom() < getMinimumZoom()) setZoom(getMinimumZoom())

        var newWidth = getOriginalImageWidth() * getZoom()
        var newHeight = getOriginalImageHeight() * getZoom()

        var minimumLeft = (newWidth < getViewportWidth()) ? (getViewportWidth() / 2) - (newWidth / 2) : Math.min(0, getViewportWidth() - newWidth)
        var maximumLeft = (newWidth < getViewportWidth()) ? (getViewportWidth() / 2) - (newWidth / 2) : Math.max(0, getViewportWidth() - newWidth)
        var minimumTop = (newHeight < getViewportHeight()) ? (getViewportHeight() / 2) - (newHeight / 2) : Math.min(0, getViewportHeight() - newHeight)
        var maximumTop = (newHeight < getViewportHeight()) ? (getViewportHeight() / 2) - (newHeight / 2) : Math.max(0, getViewportHeight() - newHeight)

        if (getImageLeft() < minimumLeft) setImageLeft(minimumLeft)
        if (getImageLeft() > maximumLeft) setImageLeft(maximumLeft)
        if (getImageTop() < minimumTop) setImageTop(minimumTop)
        if (getImageTop() > maximumTop) setImageTop(maximumTop)
    }
    function pan(x, y) {
        setImageLeft(getImageLeft() + x)
        setImageTop(getImageTop() + y)
        fixPosition()
        updateImage()
    }
    function zoom(zoom, centerX, centerY) {
        var sideLeft = centerX - getImageLeft()
        var ratioLeft = sideLeft / (getImageWidth() * getZoom())
        var newSideLeft = (getImageWidth() * zoom) * ratioLeft
        setImageLeft(centerX - newSideLeft)

        var sideTop = centerY - getImageTop()
        var ratioTop = sideTop / (getImageHeight() * getZoom())
        var newSideTop = (getImageHeight() * zoom) * ratioTop
        setImageTop(centerY - newSideTop)

        setZoom(zoom)
        fixPosition()
        updateImage()
    }
    function updateImage() {
        var img = getImage()
        //var settings = document.imageSettings

        var newWidth = getOriginalImageWidth() * getZoom()
        var newHeight = getOriginalImageHeight() * getZoom()
        setImageWidth(newWidth)
        setImageHeight(newHeight)

        img.style.left = getImageLeft()
        img.style.top = getImageTop()
    }
    function getImage() {
        return document.getElementsByTagName("img")[0]
    }
    var revertScrollZoom = true
    var scrollSpeed = .5 * .1
    function mouseWheelScroll(i) {
        var zoomCenterX = i.clientX
        var zoomCenterY = i.clientY
        var zoomDelta = 1 + i.deltaY * scrollSpeed * (revertScrollZoom ? -1 : 1)
        var newZoom = getZoom() * zoomDelta
        zoom(newZoom, zoomCenterX, zoomCenterY)
    }
    var drag = false;
    function mouseDown(e) {
        e.preventDefault()
        drag = true;
    }
    function mouseUp(e) {
        drag = false;
    }
    var panSpeed = 2
    function mouseMove(e) {
        if (drag) {
            pan(e.movementX * panSpeed, e.movementY * panSpeed)
        }
    }

    function fitPageToScreenWidth() {
        setZoom(getViewportWidth() / getImageWidth())
        fixPosition()
        updateImage()
    }

    function fitPageToScreenHeight() {
        setZoom(getViewportHeight() / getImageHeight())
        fixPosition()
        updateImage()
    }

    function fitPageToScreen() {
        setZoom(Math.min(getViewportHeight() / getImageHeight(), getViewportWidth() / getImageWidth()))
        fixPosition()
        updateImage()
    }

    function disableEventHandlers(el) {
        var events = ['onclick', 'onmousedown', 'onmousemove', 'onmouseout', 'onmouseover',
                      'onmouseup', 'ondblclick', 'onfocus', 'onblur'];

        events.forEach(function (event) {
          el[event] = function () {
            return false;
          };
        });
      };

    function enableTouchGestures(element) {
        disableEventHandlers(element)
        var hammertime = new Hammer(element, {
            domEvents: true
            });
        hammertime.get('pan').set({ direction: Hammer.DIRECTION_ALL, threshold: 0 });
        hammertime.get('pinch').set({ enable: true });

        var touchscreenPanAttenuator = 1
        var panPreviousDeltaX = 0
        var panPreviousDeltaY = 0

        hammertime.on('pan', function(ev) {
            var currentDeltaX = ev.deltaX - panPreviousDeltaX
            var currentDeltaY = ev.deltaY - panPreviousDeltaY
            pan(currentDeltaX * touchscreenPanAttenuator, currentDeltaY * touchscreenPanAttenuator)
            panPreviousDeltaX = ev.deltaX
            panPreviousDeltaY = ev.deltaY
        });
        hammertime.on('panend', function(ev) {
            panPreviousDeltaX = 0
            panPreviousDeltaY = 0
        });

        var originalZoom = null
        var pinchCenterX = null
        var pinchCenterY = null
        hammertime.on('pinchstart', function(ev) {
            ev.preventDefault();
            originalZoom = getZoom()
            pinchCenterX = ev.center.x
            pinchCenterY = ev.center.y
        })
        hammertime.on('pinch', function(ev) {
            ev.preventDefault()
            zoom(originalZoom * ev.scale, pinchCenterX, pinchCenterY)
        });
    }

    function setPage(page) {
        document.imageSettings.page = page
    }
    function getPage() {
        return document.imageSettings.page
    }
    function setImageWidth(width) {
        //document.imageSettings.width = width
        getImage().width = width
    }
    function getImageWidth() {
        //return document.imageSettings.width
        return getImage().width
    }
    function setImageHeight(height) {
        //document.imageSettings.height = height
        getImage().height = height
    }
    function getOriginalImageWidth() {
        return getImage().naturalWidth
    }
    function getOriginalImageHeight() {
        return getImage().naturalHeight
    }
    function getImageHeight() {
        //return document.imageSettings.height
        return getImage().height
    }
    function setImageLeft(left) {
        document.imageSettings.left = left
    }
    function getImageLeft() {
        return document.imageSettings.left
    }
    function setImageTop(top) {
        document.imageSettings.top = top
    }
    function getImageTop() {
        return document.imageSettings.top
    }
    function setZoom(zoom) {
        document.imageSettings.zoom = zoom
    }
    function getZoom() {
        return document.imageSettings.zoom
    }
    function setMinimumZoom(zoom) {
        document.imageSettings.minimumZoom = zoom
    }
    function getMinimumZoom() {
        return document.imageSettings.minimumZoom
    }

    function loadImageData(id, page, callback) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200 && this.responseText.length > 0) {
                var img = getImage()
                img.onload = function() {
                    setPage(page)
                    setImageWidth(getOriginalImageWidth())
                    setImageHeight(getOriginalImageHeight())
                    setImageLeft(num(img.style.left, 0))
                    setImageTop(num(img.style.left, 0))
                    setMinimumZoom(Math.min(getViewportHeight() / getOriginalImageHeight(), getViewportWidth() / getOriginalImageWidth()))
                    callback()
                }
                img.src = this.responseText
            }
        };
        xhttp.open("GET", "imageData?id=" + id + "&page=" + page, true);
        xhttp.send();
    }

    function approx(val1, val2) {
        return Math.abs(val1 - val2) < 1
    }

    function endOfRow() {
        return (getImage().width <= getViewportWidth()) || approx(getImageLeft() + getImageWidth(), getViewportWidth())
    }
    function beginningOfRow() {
        return (getImage().width <= getViewportWidth()) || approx(getImageLeft(), 0)
    }

    function endOfColumn() {
        return (getImage().height <= getViewportHeight()) || approx(getImageTop() + getImageHeight(), getViewportHeight())
    }
    function beginningOfColumn() {
        return (getImage().height <= getViewportHeight()) || approx(getImageTop(), 0)
    }

    function computePositions(imageDimension, viewportDimension) {
        if (imageDimension > viewportDimension) {
            var numberOfPositions = Math.ceil(imageDimension / viewportDimension)
            var iter = (imageDimension - viewportDimension) / (numberOfPositions-1)
            var pos = []
            for (var i = 0; i < numberOfPositions; i++) {
                pos.push(- i * iter)
            }
            return pos
        } else {
            return [0]
        }
    }

    function nextPosition(imageDimension, viewportDimension, imageValue) {
        var positions = computePositions(imageDimension, viewportDimension)
        var i = 0
        while (i < positions.length && positions[i] >= imageValue) i++
        if (i == positions.length) i = 0
        return positions[i]
    }
    function previousPosition(imageDimension, viewportDimension, imageValue) {
        var positions = computePositions(imageDimension, viewportDimension)
        var i = 0
        while (i < positions.length && positions[i] > imageValue) i++
        if (i == 0) i = positions.length
        return positions[i - 1]
    }

    function next() {
        if (endOfRow()) {
            if (endOfColumn()) {
                if (getPage() < document.comicMaximumPages) {
                    loadImageData(document.comicId, getPage() + 1, function() {
                        fixPosition()
                        updateImage()
                    })
                }
            } else {
                var nextRowPosition = nextPosition(getImage().width, getViewportWidth(), getImageLeft())
                var nextColumnPosition = nextPosition(getImage().height, getViewportHeight(), getImageTop())
                setImageLeft(nextRowPosition)
                setImageTop(nextColumnPosition)
                fixPosition()
                updateImage()
            }
        } else {
            var nextRowPosition = nextPosition(getImage().width, getViewportWidth(), getImageLeft())
            setImageLeft(nextRowPosition)
            fixPosition()
            updateImage()
        }


    }

    function previous() {
        if (beginningOfRow()) {
            if (beginningOfColumn()) {
                if (getPage() > 0) {
                    loadImageData(document.comicId, getPage() - 1, function() {
                        fixPosition()
                        updateImage()
                    })
                }
            } else {
                setImageLeft(previousPosition(getImage().width, getViewportWidth(), getImageLeft()))
                setImageTop(previousPosition(getImage().height, getViewportHeight(), getImageTop()))
                fixPosition()
                updateImage()
            }
        } else {
            setImageLeft(previousPosition(getImage().width, getViewportWidth(), getImageLeft()))
            fixPosition()
            updateImage()
        }

    }

    function getMeta(metaName) {
        const metas = document.getElementsByTagName('meta');

        for (let i = 0; i < metas.length; i++) {
            if (metas[i].getAttribute('name') === metaName) {
            return metas[i].getAttribute('content');
            }
        }

        return '';
    }

</script>
</head>
<body>
<img src="" />
<div id="prev"></div>
<div id="next"></div>
<div id="canv"></div>
<script>
        window.onload = function() {
            document.onkeydown = function(e) {
                if (e.keyCode == '38') {
                    // up arrow
                }
                else if (e.keyCode == '40') {
                    // down arrow
                }
                else if (e.keyCode == '37') {
                    // left arrow
                    previous()
                }
                else if (e.keyCode == '39') {
                    // right arrow
                    next()
                }
            }

            var canv = document.getElementById("canv")
            enableTouchGestures(canv)
            canv.addEventListener("wheel", mouseWheelScroll)
            canv.addEventListener("mousedown", mouseDown)
            canv.addEventListener("mouseup", mouseUp)
            canv.addEventListener("mouseout", mouseUp)
            canv.addEventListener("mousemove", mouseMove)

            var prev = document.getElementById("prev")
            prev.addEventListener("click", previous)

            var nextDiv = document.getElementById("next")
            nextDiv.addEventListener("click", next)

            document.comicId = getMeta("comicId")
            document.comicMaximumPages = num(getMeta("pages"))
            document.imageSettings = {}
            setZoom(1.0)
            var startPage = num(getMeta("startPage"))

            loadImageData(document.comicId, startPage, function() {
                fitPageToScreenWidth()
            })
        }
    </script>
</body>
</html>