<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport"
          content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="comicId" content="1" th:content="${id}">
    <meta name="pages" content="20" th:content=${pages}>
    <meta name="startPage" content="0" th:content=${startPage}>
    <meta name="defaultFit" content="screen">
    <title th:text="${title}">Comic Title</title>
    <style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    body {
        text-align: center;
        user-select: none; /* standard syntax */
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none; /* IE10+ */
    }
    #prev {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 10vw;
        height: 100vh;
    }
    #next {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 10vw;
        height: 100vh;
    }
    #canv {
        display: block;
        position: fixed;
        top: 0;
        left: 10vw;
        width: 80vw;
        height: 100vh;
    }
    #tools {
        position: fixed;
        bottom: 5vh;
        width: 30vw;
        left: 34vw;
        display: none;
        background-color: black;
        color: white;
        border: 1px solid gold;
        padding: 1vw;
        text-align: center;
        font-size: 1.3em;
    }
    #tools h1 {
        margin-bottom: 2vh;
        font-size: 1em;
    }
    #tools p {
        margin-top: 2vh;
    }
    #tools input {
        font-size: 1em;
        background-color: gold;
        padding: .1em;
        width: 5vw;
    }
    #tools a {
        color: gold;
        text-decoration: underline;
        margin-left: 1em;
    }
    #tools p a:first-child {
        margin-left: 0;
    }
    #spinner {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 5vw;
        height: 5vw;
        display: none;
    }
    #spinner svg {
        width: 100%;
        height: 100%
    }
    p {
        text-align: center;
    }
    img {
        position: fixed;
    }

    @media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi)
    {
        #spinner {
            width: 15vw;
            height: 15vw;
        }
        #tools {
            width: 90vw;
            left: 4vw;
        }
        #tools input {
            width: 15vw;
        }
    }
</style>
    <script src="hammer.min.js"></script>
    <script>
    function num(s, def) {
        var patt = /[\-]?[0-9\.]+/
        var match = patt.exec(s)
        if (match != null && match.length > 0) {
            var n = match[0]
            if (n.indexOf('.') > -1) {
                return parseFloat(n)
            } else {
                return parseInt(n)
            }
        }
        return def
    }

    function getViewportWidth() {
        return Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
    }
    function getViewportHeight() {
        return Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
    }
    function pan(x, y) {
        setImageLeft(getImageLeft() + x)
        setImageTop(getImageTop() + y)
        updateImage()
    }
    function zoom(zoom, centerX, centerY) {
        var sideLeft = centerX - getImageLeft()
        var ratioLeft = sideLeft / (getImageWidth() * getZoom())
        var newSideLeft = (getImageWidth() * zoom) * ratioLeft
        setImageLeft(centerX - newSideLeft)

        var sideTop = centerY - getImageTop()
        var ratioTop = sideTop / (getImageHeight() * getZoom())
        var newSideTop = (getImageHeight() * zoom) * ratioTop
        setImageTop(centerY - newSideTop)

        setZoom(zoom)
        updateImage()
    }
    function toggleFullScreen() {
        var doc = window.document;
        var docEl = doc.documentElement;

        var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
        var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

        if(!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
            requestFullScreen.call(docEl);
        }
        else {
            cancelFullScreen.call(doc);
        }
    }
    function makeFullScreen() {
        var doc = window.document;
        var docEl = doc.documentElement;

        var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;

        requestFullScreen.call(docEl);
    }
    function unmakeFullScreen() {
        var doc = window.document;

        var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

        cancelFullScreen.call(doc);
    }

    function isAutoFullScreenEnabled() {
        return false;
    }

    function updateImage() {
        if (onMobile() && isAutoFullScreenEnabled()) {
            if (isPageFitToScreen()) {
                unmakeFullScreen()
            } else {
                makeFullScreen()
            }
        }

        var img = getImage()

        if (getZoom() < getMinimumZoom()) setZoom(getMinimumZoom())

        var newWidth = getOriginalImageWidth() * getZoom()
        var newHeight = getOriginalImageHeight() * getZoom()
        setImageWidth(newWidth)
        setImageHeight(newHeight)

        var minimumLeft = (newWidth < getViewportWidth()) ? (getViewportWidth() / 2) - (newWidth / 2) : Math.min(0, getViewportWidth() - newWidth)
        var maximumLeft = (newWidth < getViewportWidth()) ? (getViewportWidth() / 2) - (newWidth / 2) : Math.max(0, getViewportWidth() - newWidth)
        var minimumTop = (newHeight < getViewportHeight()) ? (getViewportHeight() / 2) - (newHeight / 2) : Math.min(0, getViewportHeight() - newHeight)
        var maximumTop = (newHeight < getViewportHeight()) ? (getViewportHeight() / 2) - (newHeight / 2) : Math.max(0, getViewportHeight() - newHeight)

        if (getImageLeft() < minimumLeft) setImageLeft(minimumLeft)
        if (getImageLeft() > maximumLeft) setImageLeft(maximumLeft)
        if (getImageTop() < minimumTop) setImageTop(minimumTop)
        if (getImageTop() > maximumTop) setImageTop(maximumTop)
    }
    function getImage() {
        return document.getElementsByTagName("img")[0]
    }
    var revertScrollZoom = true
    var scrollSpeed = .5 * .1
    function mouseWheelScroll(i) {
        var zoomCenterX = i.clientX
        var zoomCenterY = i.clientY
        var zoomDelta = 1 + i.deltaY * scrollSpeed * (revertScrollZoom ? -1 : 1)
        var newZoom = getZoom() * zoomDelta
        zoom(newZoom, zoomCenterX, zoomCenterY)
    }
    var drag = false;
    function mouseDown(e) {
        e.preventDefault()
        drag = true;
    }
    function mouseUp(e) {
        drag = false;
    }
    var panSpeed = 2
    function mouseMove(e) {
        if (drag) {
            pan(e.movementX * panSpeed, e.movementY * panSpeed)
        }
    }

    function fitPageToScreenWidth() {
        setZoom(getViewportWidth() / getOriginalImageWidth())
        updateImage()
    }

    function fitPageToScreenHeight() {
        setZoom(getViewportHeight() / getOriginalImageHeight())
        updateImage()
    }

    function isPageFitToScreen() {
        return getZoomForFitToScreen() == getZoom()
    }

    function getZoomForFitToScreen() {
        return Math.min(getViewportHeight() / getOriginalImageHeight(), getViewportWidth() / getOriginalImageWidth())
    }

    function fitPageToScreen() {
        setZoom(getZoomForFitToScreen())
        updateImage()
    }

    function disableEventHandlers(el) {
        var events = ['onclick', 'onmousedown', 'onmousemove', 'onmouseout', 'onmouseover',
                      'onmouseup', 'ondblclick', 'onfocus', 'onblur'];

        events.forEach(function (event) {
          el[event] = function () {
            return false;
          };
        });
      };

    function enableTouchGestures(element) {
        disableEventHandlers(element)
        var hammertime = new Hammer(element, {
            domEvents: true
            });
        hammertime.get('pan').set({ direction: Hammer.DIRECTION_ALL, threshold: 0 });
        hammertime.get('pinch').set({ enable: true });

        var touchscreenPanAttenuator = 1
        var panPreviousDeltaX = 0
        var panPreviousDeltaY = 0

        hammertime.on('pan', function(ev) {
            var currentDeltaX = ev.deltaX - panPreviousDeltaX
            var currentDeltaY = ev.deltaY - panPreviousDeltaY
            pan(currentDeltaX * touchscreenPanAttenuator, currentDeltaY * touchscreenPanAttenuator)
            panPreviousDeltaX = ev.deltaX
            panPreviousDeltaY = ev.deltaY
        });
        hammertime.on('panend', function(ev) {
            panPreviousDeltaX = 0
            panPreviousDeltaY = 0
        });

        var originalZoom = null
        var pinchCenterX = null
        var pinchCenterY = null
        hammertime.on('pinchstart', function(ev) {
            ev.preventDefault();
            originalZoom = getZoom()
            pinchCenterX = ev.center.x
            pinchCenterY = ev.center.y
        })
        hammertime.on('pinch', function(ev) {
            ev.preventDefault()
            zoom(originalZoom * ev.scale, pinchCenterX, pinchCenterY)
        });
    }

    function setPage(page) {
        //document.imageSettings.page = page
        if (page < 1) page = 1
        if (page > document.comicMaximumPages) page = document.comicMaximumPages
        document.getElementById("pagenum").value = page
    }
    function getPage() {
        //return document.imageSettings.page
        return num(document.getElementById("pagenum").value)
    }
    function setImageWidth(width) {
        getImage().width = width
    }
    function getImageWidth() {
        return getImage().width
    }
    function setImageHeight(height) {
        getImage().height = height
    }
    function getImageHeight() {
        return getImage().height
    }
    function getOriginalImageWidth() {
        return getImage().naturalWidth
    }
    function getOriginalImageHeight() {
        return getImage().naturalHeight
    }
    function setImageLeft(left) {
        getImage().style.left = left + "px"
    }
    function getImageLeft() {
        return num(getImage().style.left, 0)
    }
    function setImageTop(top) {
        getImage().style.top = top + "px"
    }
    function getImageTop() {
        return num(getImage().style.top, 0)
    }
    function setZoom(zoom) {
        document.imageSettings.zoom = zoom
    }
    function getZoom() {
        return document.imageSettings.zoom
    }
    // minimum zoom is determined by image and viewport dimensions
    function updateMinimumZoom() {
        document.imageSettings.minimumZoom = Math.min(getViewportHeight() / getOriginalImageHeight(), getViewportWidth() / getOriginalImageWidth())
    }
    function getMinimumZoom() {
        return document.imageSettings.minimumZoom
    }

    function loadImageData(id, page, callback) {
        var xhttp = new XMLHttpRequest();
        var timestamp = + new Date()
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && document.searchTimestamp == timestamp) {
                hideSpinner()
                if (this.status == 200 && this.responseText.length > 0) {
                    var img = getImage()
                    img.onload = function() {
                        setPage(page)
                        setImageWidth(getOriginalImageWidth())
                        setImageHeight(getOriginalImageHeight())
                        setImageLeft(0)
                        setImageTop(0)
                        updateMinimumZoom()
                        callback()
                    }
                    img.src = this.responseText
                }
            }
        };
        xhttp.open("GET", "imageData?id=" + id + "&page=" + (page-1), true)
        showSpinner()
        document.searchTimestamp = timestamp
        xhttp.send()
    }

    function approx(val1, val2) {
        return Math.abs(val1 - val2) < 1
    }

    function isEndOfRow() {
        return (getImage().width <= getViewportWidth()) || approx(getImageLeft() + getImageWidth(), getViewportWidth())
    }
    function isBeginningOfRow() {
        return (getImage().width <= getViewportWidth()) || approx(getImageLeft(), 0)
    }

    function isEndOfColumn() {
        return (getImage().height <= getViewportHeight()) || approx(getImageTop() + getImageHeight(), getViewportHeight())
    }
    function isBeginningOfColumn() {
        return (getImage().height <= getViewportHeight()) || approx(getImageTop(), 0)
    }

    function computePositions(imageDimension, viewportDimension) {
        if (imageDimension > viewportDimension) {
            var numberOfPositions = Math.ceil(imageDimension / viewportDimension)
            var iter = (imageDimension - viewportDimension) / (numberOfPositions-1)
            var pos = []
            for (var i = 0; i < numberOfPositions; i++) {
                pos.push(- i * iter)
            }
            return pos
        } else {
            return [0]
        }
    }

    function getNextPosition(imageDimension, viewportDimension, imageValue) {
        var positions = computePositions(imageDimension, viewportDimension)
        var i = 0
        while (i < positions.length && positions[i] >= imageValue) i++
        if (i == positions.length) i = 0
        return positions[i]
    }
    function getPreviousPosition(imageDimension, viewportDimension, imageValue) {
        var positions = computePositions(imageDimension, viewportDimension)
        var i = 0
        while (i < positions.length && positions[i] > imageValue) i++
        if (i == 0) i = positions.length
        return positions[i - 1]
    }

    function goToNextPage() {
        if (getPage() < document.comicMaximumPages) {
            console.log(getPage())
            loadImageData(document.comicId, getPage() + 1, function() {
                updateImage()
            })
        }
    }

    function goToPreviousPage() {
        if (getPage() > 1) {
            loadImageData(document.comicId, getPage() - 1, function() {
                updateImage()
            })
        }
    }

    function goToNextView() {
        if (isEndOfRow()) {
            if (isEndOfColumn()) {
                goToNextPage()
            } else {
                setImageLeft(getNextPosition(getImage().width, getViewportWidth(), getImageLeft()))
                setImageTop(getNextPosition(getImage().height, getViewportHeight(), getImageTop()))
                updateImage()
            }
        } else {
            setImageLeft(getNextPosition(getImage().width, getViewportWidth(), getImageLeft()))
            updateImage()
        }
    }

    function showSpinner() {
        var spinner = document.getElementById("spinner")
        spinner.style.display = "block"
    }

    function hideSpinner() {
        var spinner = document.getElementById("spinner")
        spinner.style.display = "none"
    }

    function showTools() {
        var tools = document.getElementById("tools")
        tools.style.display = "block"
    }

    function hideTools() {
        var tools = document.getElementById("tools")
        tools.style.display = "none"
    }

    function toggleTools() {
        var tools = document.getElementById("tools")
        if (tools.style.display == "none") {
            tools.style.display = "block"
        } else {
            tools.style.display = "none"
        }
    }

    function goToPreviousView() {
        if (isBeginningOfRow()) {
            if (isBeginningOfColumn()) {
                goToPreviousPage()
            } else {
                setImageLeft(getPreviousPosition(getImage().width, getViewportWidth(), getImageLeft()))
                setImageTop(getPreviousPosition(getImage().height, getViewportHeight(), getImageTop()))
                updateImage()
            }
        } else {
            setImageLeft(getPreviousPosition(getImage().width, getViewportWidth(), getImageLeft()))
            updateImage()
        }

    }

    function getMeta(metaName) {
        const metas = document.getElementsByTagName('meta');

        for (let i = 0; i < metas.length; i++) {
            if (metas[i].getAttribute('name') === metaName) {
            return metas[i].getAttribute('content');
            }
        }

        return '';
    }

    function onMobile() {
        if (navigator.userAgent.match(/Android/i)
            || navigator.userAgent.match(/webOS/i)
            || navigator.userAgent.match(/iPhone/i)
            || navigator.userAgent.match(/iPad/i)
            || navigator.userAgent.match(/iPod/i)
            || navigator.userAgent.match(/BlackBerry/i)
            || navigator.userAgent.match(/Windows Phone/i)) {
                return true
            } else {
                return false
            }
    }

    function handleResize() {
        updateMinimumZoom()
        updateImage()
    }

    function jumpToPage() {
        var page = getPage()
        loadImageData(document.comicId, page, function() {
            updateImage()
        })
    }

    function addPagenumTriggerListener() {
        var pagenum = document.getElementById("pagenum")
        pagenum.addEventListener('keyup', function (e) {
            if (document.pageChangeTimeout && document.pageChangeTimeout != null) {
                window.clearTimeout(document.pageChangeTimeout)
                document.pageChangeTimeout = null
            }
            if (e.keyCode === 13) {
                // if enter, search
                jumpToPage()
            } else {
                // if other key, wait to see if finished typing
                document.pageChangeTimeout = window.setTimeout(jumpToPage, 1000)
            }
        })
        pagenum.addEventListener('mouseup', function (e) {
            jumpToPage()
        })
    }

</script>
</head>
<body onresize="handleResize()">
<img src="" />
<div id="prev"></div>
<div id="next"></div>
<div id="canv"></div>
<div id="tools" style="display: none">
    <h1 th:text="${title}">Comic Title</h1>
    <p>Page <input id="pagenum" type="number"  min="1" th:max="${pages}"/> of <span th:text="${pages}">20</span></p>
    <p><a onclick="toggleFullScreen()">fullscreen</a><a href="/">back</a></p>
</div>
<div id="spinner">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <rect x="20" y="20" width="60" height="60" stroke="#000000" stroke-width="10" fill="none"></rect>
        <rect x="20" y="20" width="60" height="60" stroke="#ffd700" stroke-width="10" stroke-lincap="undefined" fill="none">
            <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="1s" keyTimes="0;0.5;1" values="24 216;120 120;24 216"></animate>
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;0.5;1" values="0;-120;-240"></animate>
        </rect>
    </svg>
</div>
<script>
        window.onload = function() {
            document.onkeydown = function(e) {
                //console.log(e.keyCode)
                if (e.keyCode == '38' || e.keyCode == '87') {
                    // up arrow or w
                    pan(0, getViewportHeight() / 2)
                }
                else if (e.keyCode == '40' || e.keyCode == '83') {
                    // down arrow or s
                    pan(0, - (getViewportHeight() / 2))
                }
                else if (e.keyCode == '37' || e.keyCode == '65') {
                    // left arrow or a
                    goToPreviousView()
                }
                else if (e.keyCode == '39' || e.keyCode == '68') {
                    // right arrow or d
                    goToNextView()
                }
            }

            var canv = document.getElementById("canv")
            enableTouchGestures(canv)
            canv.addEventListener("wheel", mouseWheelScroll)
            canv.addEventListener("mousedown", mouseDown)
            canv.addEventListener("mouseup", mouseUp)
            canv.addEventListener("mouseout", mouseUp)
            canv.addEventListener("mousemove", mouseMove)
            canv.addEventListener("dblclick", function(event) {
                event.preventDefault()
                if (isPageFitToScreen()) {
                    zoom(getZoom() * 3, event.clientX, event.clientY)
                } else {
                    fitPageToScreen()
                }
            })
            //if (! onMobile()) {
                canv.addEventListener("contextmenu", function(ev) {
                    ev.preventDefault()
                    //history.back()
                    toggleTools()
                })
            //}

            var prevDiv = document.getElementById("prev")
            prevDiv.addEventListener("click", goToPreviousView)
            // click functionality interferes with next div functionality
            /*prevDiv.addEventListener("dblclick", function(event) {
                event.preventDefault()
                goToPreviousPage()
            })*/

            var nextDiv = document.getElementById("next")
            nextDiv.addEventListener("click", goToNextView)
            // click functionality interferes with next div functionality
            /*nextDiv.addEventListener("dblclick", function(event) {
                event.preventDefault()
                goToNextPage()
            })*/

            addPagenumTriggerListener()

            document.comicId = getMeta("comicId")
            document.comicMaximumPages = num(getMeta("pages"))
            document.imageSettings = {}
            setZoom(1.0)
            var startPage = num(getMeta("startPage")) + 1

            loadImageData(document.comicId, startPage, function() {
                var fit = getMeta("defaultFit")
                if (fit == "width") {
                    fitPageToScreenWidth()
                } else if (fit = "screen") {
                    fitPageToScreen()
                }
            })
        }
    </script>
</body>
</html>