<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Error - Chronic Reader</title>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/shortcut.png">
    <link rel="apple-touch-icon" href="/shortcut.png">
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <style>
        body {
            font-size: 2em;
            background-color: black;
            color: gold;
            font-family: 'Roboto', sans-serif;
        }
        a {
            color: gold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
Something did not work. <a href="/">Go back.</a>
</body>
</html>