<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Help - Chronic Reader</title>
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <style>
        body {
            font-size: 1.5em;
            background-color: white;
            color: black;
            font-family: 'Merriweather', serif;
        }
        h1 {
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
        }
        h2 {
            font-size: 1.1em;
            font-family: 'Roboto', sans-serif;
        }
        #container {
            width: 1000px;
            margin: auto;
        }
        @media all and (max-width: 999px) {
            #container {
                width: 100%;
            }
        }
        p.images {
            text-align: center;
            display: grid;
            grid-gap: 5px;
            font-size: 1em;
            color: #1a1a1a;
            font-family: 'Roboto', sans-serif;
            justify-items: center;
        }
        img {
            max-width: 100%;
            max-height: 50vh;
            border: 1px dotted #1a1a1a;
        }
        .space {
            display: inline-block;
            width: 1em;
        }
    </style>
</head>
<body>
<div id="container">
    <h1><a name="top">Chronic Reader Help</a></h1>
    <ul>
        <li><a href="#library_page">Library Page</a></li>
        <li><a href="#application_settings_page">Application Settings Page</a></li>
        <li><a href="#collections_page">Collections Page</a></li>
        <li><a href="#book_page">Book Page</a></li>
        <li><a href="#comic_page">Comic Page</a></li>
        <li><a href="/">Go Back</a></li>
    </ul>
    <h2><a name="library_page">Library Page</a></h2>
    <p class="images" style="grid-template-columns: auto;"><img src="/library.png" /><span>library page</span></p>
    <p>This page lets you navigate the available collections of books and comics, search, view progress of books you have opened and read. New books are loaded as you scroll, with their corresponding collections. You can click on parts of collection names to search for all comics in that specific collection, or you can use the search field directly to look for available books. Click on a book or comic to start reading it. At the top of the page, the most recent books you read are displayed. Books that are in progress have a progress bar displayed on top of their cover. Books that have been read (cover to cover) have a checkmark displayed on top of their cover.</p>
    <p>Books that are stored on the device have a golden progress bar, while those that are not available offline have a white progress bar. For each device the latest read books are downloaded on the device to be accessible offline. This process may take a while, depending on the size of those books, so not all boooks in the latest read section will have a golden progress bar immediately.</p>
    <p>On the library page you also have an elipsis button that will take you to the <em>application settings</em> page.</p>
    <p><a href="#top">top</a><span class="space"></span><a href="/">library</a></p>

    <h2><a name="application_settings_page">Application Settings Page</a></h2>
    <p>On this page you have access to other parts of the application, containing configuration settings. You can open the <em>Collections</em> or the <em>Help</em> pages. You can change your password from this page. If you are logged in with the administrator account, you can open the <em>Import Data</em> page. There is one setting on this page that will allow you to change the number of <em>latest read</em> books you load in the <em>Library page</em>. This setting is device specific and this is the way you can control the number of books that will be saved on your device, thus controlling the space taken up by the application on your device. You can have a smaller number of <em>latest read</em> on mobile devices and a larger number on you computers.</p>
    <p>Another option on this page is to <em>Clear local cache</em>, which will delete all the data and settings stored on your device. Use this if something is not working well on your device to <em>reset</em> it.</p>
    <p><a href="#top">top</a><span class="space"></span><a href="/">library</a></p>

    <h2><a name="collections_page">Collections Page</a></h2>
    <p class="images" style="grid-template-columns: auto;"><img src="/collection_tree.png" /><span>collections tree</span></p>
    <p>Every book and comic is part of a collection, based on the folders and sub-folders it is stored in. The collections page displays all the collections in the app as a tree. For tree entries with a plus sign next to them you have sub-collections. You can click that plus sign to expand the collection and view sub-collections. You can organize your books and comics into collections by organizing them into sub-folders in your root library folder. Clicking on a collection name will take you back to the library page and only display the entries in that collection.</p>
    <p><a href="#top">top</a><span class="space"></span><a href="/">library</a></p>

    <h2><a name="book_page">Book Page</a></h2>
    <p class="images" style="grid-template-columns: auto;"><img src="/book_controls.png" /><span>book controls</span></p>
    <p>You can use the highlighted areas of the screen to move between pages/views or to open the tools menu.</p>
    <p class="images" style="grid-template-columns: 50% 50%;">
        <img src="/book_tools.png"/><img src="/comic_tools.png"/>
        <span>tools menu on the left</span>
        <span>tools menu on the right</span>
    </p>
    <p>The tools menu has a left-side and a right-side version, depending on the tools button you pressed. It is designed to be easy to use with whatever hand you hold your device in.</p>
    <p class="images" style="grid-template-columns: 33% 33% 33%;">
        <img src="/book_page.png"/>
        <img src="/book_tools.png"/>
        <img src="/book_settings.png"/>
        <span>book display page</span>
        <span>book tools</span>
        <span>book settings</span>
    </p>

    <p>If you open the tools menu for a book you can see progress information, what percentage of the book you have read and how many pages are left in the current chapter. You can also expand the settings, where you can switch to dark mode for night-time reading, pick preferred colors for background and text for both dark and light modes, change the text size. You can also toggle fullscreen, if your device permits this (this does not work on iOS devices), and you can delete the progress for the current book.</p>
    <p class="images" style="grid-template-columns: 50% 50%;">
        <img src="/book_toc.png"/><img src="/book_dark_mode.png"/>
        <span>book table of contents</span><span>book dark mode</span>
    </p>
    <p>Above the standard tools you can also view the table of contents of the book, with expandable chapters and subchapters that you can click to jump to the desired position in the book.</p>
    <p><a href="#top">top</a><span class="space"></span><a href="/">library</a></p>

    <h2><a name="comic_page">Comic Page</a></h2>
    <p class="images" style="grid-template-columns: 33% 33% 33%;"><img src="/comic_page.png" /><img src="/comic_tools.png" /><img src="/comic_settings.png" />
        <span>comic page</span><span>comic tools</span><span>comic settings</span></p>
    <p>You can pinch-zoom or use the mouse wheel to adjust the zoom of the comic page. Press left mouse and drag or touch screen and drag to adjust the position of the comic page. A double left click or a double tap on the center of the screen zooms you in or out on the comic page.</p>
    <p>You can move between <em>positions</em> in a comic by tapping the left and right sides of the screen. If the comic is zoomed out and the whole page is visible on your screen, the next position will be the next page. If the comic is zoomed in, tapping the right side of the screen will jump to then next part of the current comic page. The same functionality works with moving to previous positions, and if you are on the last segment of a page, the next position will automatically move you to the next page. If you have a keyboard, you can use the arrow keys or W/A/S/D to navigate.</p>
    <p>On the comic tools page, accessed by clicking/tapping the lower left or right sides of the screen, you can jump to any page of the comic. You can also open the settings that allow you to change the scroll and pan speeds, or invert the mouse scroll. Also inside settings you can toggle full screen, if your device permits it (this does not work on iOS devices), download the current comic book page as an image or delete the progress for the current comic.</p>
    <p><a href="#top">top</a><span class="space"></span><a href="/">library</a></p>
</div>
</body>
</html>