<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/headFragment :: normalModeViewport"></div>
    <div th:replace="fragments/headFragment :: normalPage"></div>
    <title>Help - Chronic Reader</title>
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="more.css">
    <link rel="stylesheet" type="text/css" href="help.css">
    <script src="settings.js"></script>
    <script src="util.js"></script>
    <script src="help.js"></script>
</head>
<body>
<h1 id="chronic-reader-help">Chronic Reader Help</h1>
<ul>
    <li><a href="#about-the-library-page">About the Library Page</a></li>
    <li><a href="#about-the-application-settings-page">About the Application Settings Page</a></li>
    <li><a href="#about-the-collections-page">About the Collections Page</a></li>
    <li><a href="#about-book-pages">About Book Pages</a></li>
    <li><a href="#about-comic-book-pages">About Comic Book Pages</a></li>
</ul>
<h2 id="about-the-library-page">About the Library Page</h2>
<p class="images" style="display: grid; grid-template-columns: auto; justify-content: center;"><img src="library.png" /><span style="text-align: center">library page</span></p>
<p>This page lets you navigate the available collections of books and comics, search, view progress of books you have opened and read. New books are loaded as you scroll, with their corresponding collections.</p>
<p class="images" style="display: grid; grid-template-columns: 1fr 1fr; justify-content: center;"><img src="library_collection.png" /><img src="library_collection_search.png" /><span style="text-align: center">collection</span><span style="text-align: center">search</span></p>
<p>You can click on parts of collection names to search for all comics in that specific collection, or you can use the search field directly to look for available books. Click on a book or comic to start reading it. At the top of the page, the most recent books you read are displayed. Books that are in progress have a progress bar displayed over their cover. Books that have been read (cover to cover) have a checkmark displayed on top of their cover.</p>
<p>Books that are stored on the device have a golden progress bar, while those that are not available offline have a white progress bar. For each device the latest read books are downloaded on the device to be accessible offline. This process may take a while, depending on the size of those books, so not all boooks in the latest read section will have a golden progress bar immediately.</p>
<p>If there is no search term in the search bar, directly under the search bar a list of the recently added books is shown.</p>
<p>On the library page you also have three buttons/controls. The clear search button will clear the search field and reload the entire library from the beginning. If the search field is empty, you can click the clear search button to refresh the entire page. This option is useful on iOS when you install the application as a Progressive Web App and you need to refresh the library page. The next button will toggle titles for the books on the library page. This button has a device-specific setting behind it, and its state will be remembered between refreshes. The last button is a link to the Application Settings page.</p>
<p><a href="#chronic-reader-help">top</a></p>
<h2 id="about-the-application-settings-page">About the Application Settings Page</h2>
<p class="images" style="display: grid; grid-template-columns: 1fr 1fr; justify-content: center;"><img src="application_settings.png" /><img src="other_colors.png"/><span>application settings</span><span style="text-align: center">customized UI colors</span></p>
<p>On this page you have access to other parts of the application and to configuration settings.</p>
<p>The links here will take you back to the Library page, or you can visit the Collections page, the History page and this Help page.</p>
<p>The settings are split into multiple sections.</p>
<ul>
    <li>Library Settings:
        <ul>
            <li><strong>latest read books to load</strong>: here you can change the number of latest read books to load in the library; since the latest read books are also downloaded on your device, this is where you can control how much data you store on your device; this setting is device specific, you can store a different number of books on your mobile phone than you store on your tablet;</li>
            <li><strong>latest added books to load</strong>: the number of books to be shows in the Latest Added section in the library;</li>
            <li><strong>show collections in latest read and added</strong>: with this turned on, the book titles in the Latest Read and Latest Added sections will also contain the collection that book is in, with clickable links if you want to load the collection;</li>
        </ul>
    </li>
    <li>Theme Settings:
        <ul>
            <li><strong>theme</strong>: here you can choose the theme that will be applied to the reader application; there are four options here, &quot;light&quot; and &quot;dark&quot; letting you choose a specific theme for your app; the &quot;OS theme&quot; option will choose the &quot;dark&quot; or &quot;light&quot; theme based on the set theme on your device or browser; the &quot;time based&quot; setting will change the theme between &quot;dark&quot; and &quot;light&quot; based on configurable times of day; the theme applied here is also the theme used when reading a book;</li>
            <li>following are settings that let you configure the colors used across the app for &quot;light&quot; and &quot;dark&quot; theme settings; there are four colors for each theme, background and text colors, as well as accent and accent text colors; background and text colors are also applied to books; the accent colors are used for the library tools section and some highlighted elements across the app</li>
            <li><strong>switch to light mode at</strong> and <strong>switch to dark mode at</strong>: settings let you configure the hour of day when you want the switch between these themes to occur; these settings are only enabled and only have effect when the &quot;time based&quot; theme is selected;</li>
            <li><strong>tools panel transparency</strong>: the transparency percentage of the tools panel in the book and comic pages;</li>
        </ul>
    </li>
    <li>Controls Settings:
        <ul>
            <li><strong>swipe to turn page</strong>: with this setting enabled, using a natural swiping gesture over a comic or book page will turn to the next or previous page, depending on the swipe direction;</li>
            <li><strong>minimum swipe length</strong>: percentage of screen length a finger must be moved before the swipe gesture is triggerred;</li>
            <li><strong>maximum swipe angle</strong>: swipe gesture angle deviation from horizontal up to which the swipe gesture is valid;</li>
            <li><strong>scroll down to zoom in</strong>: this lets computer users choose what direction of the scroll of the mouse wheel will zoom in to a comic book page;</li>
            <li><strong>comic scroll speed</strong>: this lets computer users choose what zoom speed to use when scrolling with the mouse wheel;</li>
            <li><strong>comic pan speed</strong>: this is the speed with which the comic page is panned when dragged with a mouse or using a finger;</li>
            <li><strong>left/right book edge</strong>: what percentage of screen width should be reserved for the book controls for switching book/comic pages;</li>
            <li><strong>tools button height</strong>: what percentage of screen height should be reserved for the book tools button at the left and right bottom of the book screen;</li>
        </ul>
    </li>
    <li>Book Settings:
        <ul>
            <li><strong>text size</strong>: this is the text size used to display a book; this setting can also be changed directly in the book tools;</li>
            <li><strong>top/bottom book edge</strong>: percentage of screen height at the top and the bottom of the screen that should not be occupied by book text; determines the book page height;</li>
        </ul>
    </li>
    <li>Comic Settings:
        <ul>
            <li><strong>horizontal jump</strong>: how much the view should be moved horizontally on a book page when the next/previous view button is clicked; this setting can also be changed directly in the comic tools;</li>
            <li><strong>vertical jump</strong>: how much the view should be moved vertically on a book page when the next view/previous button is clicked; this setting can also be changed directly in the comic tools;</li>
        </ul>
    </li>
</ul>
<p>On this page you also have links to change your password or to clear the local cache. Clearing the cache will delete all data stored on the device, books and settings. Use this if something is not working well and you need to reset the application.</p>
<p>The last option on this page is to log out of the application. Logging out will also clear all books and settings stored on the device.</p>
<p><a href="#chronic-reader-help">top</a></p>
<h2 id="about-the-collections-page">About the Collections Page</h2>
<p class="images" style="display: grid; grid-template-columns: auto; justify-content: center;"><img src="collection_tree.png" /><span style="text-align: center">collections tree</span></p>
<p>Every book and comic is part of a collection, based on the folders and sub-folders it is stored in. The collections page displays all the collections in the app as a tree. For tree entries with a plus sign next to them you have sub-collections. You can click that plus sign to expand the collection and view sub-collections. You can organize your books and comics into collections by organizing them into sub-folders in your root library folder. Clicking on a collection name will take you back to the library page and only display the entries in that collection.</p>
<p><a href="#chronic-reader-help">top</a></p>
<h2 id="about-book-pages">About Book Pages</h2>
<p class="images" style="display: grid; grid-template-columns: auto; justify-content: center;"><img src="book_controls.png" /><span style="text-align: center">book controls</span></p>
<p>You can use the highlighted areas of the screen to move between pages/views or to open the tools menu.</p>
<p class="images" style="display: grid; grid-template-columns: 1fr 1fr; justify-content: center;"><img src="book_tools.png"/><img src="comic_tools.png"/><span style="text-align: center">tools menu on the left</span><span style="text-align: center">tools menu on the right</span></p>
<p>The tools menu has a left-side and a right-side version, depending on the tools button you pressed. It is designed to be easy to use with whatever hand you hold your device in.</p>
<p class="images" style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-content: center;"><img src="book_page.png"/><img src="book_tools.png"/><img src="book_settings.png"/><span style="text-align: center">book display page</span><span style="text-align: center">book tools</span><span style="text-align: center">book settings</span></p>
<p>If you open the tools menu for a book you can see progress information, what percentage of the book you have read and how many pages are left in the current chapter. You can also expand the settings, where you can switch to dark mode for night-time reading, pick preferred colors for background and text for both dark and light modes, change the text size. You can also toggle fullscreen, if your device permits this (this does not work on iOS devices), and you can delete the progress for the current book.</p>
<p class="images" style="display: grid; grid-template-columns: 1fr 1fr; justify-content: center;"><img src="book_toc.png"/><img src="book_dark_mode.png"/><span style="text-align: center">book table of contents</span><span style="text-align: center">book dark mode</span></p>
<p>Above the standard tools you can also view the table of contents of the book, with expandable chapters and subchapters that you can click to jump to the desired position in the book.</p>
<p><a href="#chronic-reader-help">top</a></p>
<h2 id="about-comic-book-pages">About Comic Book Pages</h2>
<p class="images" style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-content: center;"><img src="comic_page.png" /><img src="comic_tools.png" /><img src="comic_settings.png" /><span style="text-align: center">comic page</span><span style="text-align: center">comic tools</span><span style="text-align: center">comic settings</span></p>
<p>You can pinch-zoom or use the mouse wheel to adjust the zoom of the comic page. Press left mouse and drag or touch screen and drag to adjust the position of the comic page. A double left click or a double tap on the center of the screen zooms you in or out on the comic page.</p>
<p>You can move between positions in a comic by tapping the left and right sides of the screen. If the comic is zoomed out and the whole page is visible on your screen, the next position will be the next page. If the comic is zoomed in, tapping the right side of the screen will jump to then next part of the current comic page. The same functionality works with moving to previous positions, and if you are on the last segment of a page, the next position will automatically move you to the next page. If you have a keyboard, you can use the arrow keys or W/A/S/D to navigate.</p>
<p>On the comic tools page, accessed by clicking/tapping the lower left or right sides of the screen, you can jump to any page of the comic. You can also open the settings that allow you to change the scroll and pan speeds, or invert the mouse scroll. Also inside settings you can download the current comic book page as an image or delete the progress for the current comic.</p>
<p><a href="#chronic-reader-help">top</a></p>
</body>
</html>
