<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>History - Chronic Reader</title>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/shortcut.png">
    <link rel="icon" href="/shortcut.png">
    <link rel="icon" sizes="16x16" href="/shortcut16.png">
    <link rel="icon" sizes="24x24" href="/shortcut24.png">
    <link rel="icon" sizes="32x32" href="/shortcut32.png">
    <link rel="icon" sizes="48x48" href="/shortcut48.png">
    <link rel="icon" sizes="64x64" href="/shortcut64.png">
    <link rel="icon" sizes="192x192" href="/shortcut192.png">
    <link rel="apple-touch-icon" href="/shortcut.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/shortcut152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/shortcut180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/shortcut167.png">
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="more.css">
    <!--style>
        :root {
            --accent-color: gold;
            --foreground-color: black;
            --background-color: white;
        }
        body {
            background-color: var(--foreground-color, black);
            color: var(--background-color, white);
            font-family: 'Roboto', sans-serif;
        }
        a {
            color: var(--accent-color, gold);
            text-decoration: underline;
            cursor: pointer;
        }
        table {
            width: 100%;
            word-break: break-all;
        }
        table, th, td {
            border: 1px solid var(--accent-color, gold);
        }
        td {
            padding: 5px;
        }
        span {
            margin-left: 3px;
            margin-right: 3px;
        }
        #spinner {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 5vw;
            height: 8vw;
            display: none;
            z-index: 1000;
        }
        #spinner svg {
            width: 100%;
            height: 100%
        }
    </style-->
    <script src="settings.js"></script>
    <script src="util.js"></script>
    <script>
        function deleteProgress(id, element) {
            var xhttp = new XMLHttpRequest()
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        element.parentElement.parentElement.remove()
                    }
                }
            }
            xhttp.open("DELETE", "removeProgress?id=" + id)
            xhttp.send()
        }
        function showSpinner() {
            var spinner = document.getElementById("spinner")
            spinner.style.display = "block"
        }
        function hideSpinner() {
            var spinner = document.getElementById("spinner")
            spinner.style.display = "none"
        }
        function getTableRow(book) {
            var tr = document.createElement("tr")
            var collection = document.createElement("td")
            addCollectionLinkTokens(collection, book.collection, '/', searchLinkBuildHrefFunction)
            tr.appendChild(collection)
            var title = document.createElement("td")
            var titleLink = document.createElement("a")
            titleLink.href = book.type + "?id=" + book.id
            titleLink.innerHTML = book.title
            title.appendChild(titleLink)
            tr.appendChild(title)
            var progress = document.createElement("td")
            var percent = ((book.progress + 1) / parseFloat(book.pages)) * 100
            progress.innerHTML = Math.floor(percent) + "%"
            tr.appendChild(progress)
            var date = document.createElement("td")
            var lastUpdate = new Date(book.lastUpdate)
            date.innerHTML = lastUpdate.getFullYear() + "-" + (lastUpdate.getMonth() + 1) + "-" + lastUpdate.getDate() + " " + lastUpdate.getHours() + ":" + lastUpdate.getMinutes()
            tr.appendChild(date)

            var actions = document.createElement("td")
            var removeProgressButton = document.createElement("a")
            removeProgressButton.onclick = function(event) {
                deleteProgress(book.id, this)
            }
            removeProgressButton.innerHTML = "delete"
            actions.appendChild(removeProgressButton)
            tr.appendChild(actions)

            return tr
        }
        function loadHistory() {
            var xhttp = new XMLHttpRequest();
            showSpinner()
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        var books = JSON.parse(this.responseText)
                        if (books.length > 0) {
                            let bookIds = []
                            for (var i = 0; i < books.length; i++) {
                                var book = books[i]
                                var collectionDiv = document.getElementById("ch_read_history")
                                if (collectionDiv != null) {
                                    collectionDiv.appendChild(getTableRow(book))
                                }
                            }

                        }
                    }
                    hideSpinner()
                }
            }
            xhttp.open("GET", "latestRead?withoutImages=true")
            xhttp.send()
        }
        window.onload = function() {
            document.documentElement.style.setProperty('--accent-color', getSetting(SETTING_ACCENT_COLOR));
            document.documentElement.style.setProperty('--foreground-color', getSetting(SETTING_FOREGROUND_COLOR));
            document.documentElement.style.setProperty('--background-color', getSetting(SETTING_BACKGROUND_COLOR));
            setStatusBarColor(getSetting(SETTING_ACCENT_COLOR));
            loadHistory()
        }
    </script>
</head>
<body>
<p>This is a list of everything you read. <a href="/">Go back</a></p>
<table id="ch_read_history">
    <tr><th>collection</th><th>title</th><th>progress</th><th>read date</th><th>actions</th></tr>
</table>
<div id="spinner">
    <svg id="ch_spinner_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" viewBox="0 0 100 140" preserveAspectRatio="xMidYMid">
        <rect class="background" x="20" y="20" width="60" height="100" stroke="#ffffff" stroke-width="22" fill="none"></rect>
        <rect class="foreground" x="20" y="20" width="60" height="100" stroke="#000000" stroke-width="20" fill="none"></rect>
        <rect class="accent" x="20" y="20" width="60" height="100" stroke="#ffd700" stroke-width="20" stroke-linecap="square" fill="none" stroke-dasharray="160 160">
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="3s" keyTimes="0;0.5;1" values="0;-160;-320"></animate>
        </rect>
    </svg>
</div>
</body>
</html>