<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>History - Chronic Reader</title>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/shortcut.png">
    <link rel="icon" href="/shortcut.png">
    <link rel="icon" sizes="16x16" href="/shortcut16.png">
    <link rel="icon" sizes="24x24" href="/shortcut24.png">
    <link rel="icon" sizes="32x32" href="/shortcut32.png">
    <link rel="icon" sizes="48x48" href="/shortcut48.png">
    <link rel="icon" sizes="64x64" href="/shortcut64.png">
    <link rel="icon" sizes="192x192" href="/shortcut192.png">
    <link rel="apple-touch-icon" href="/shortcut.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/shortcut152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/shortcut180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/shortcut167.png">
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="more.css">
    <script src="settings.js"></script>
    <script src="util.js"></script>
    <script>
        var COLLECTION_CLASS = "history-collection"
        var TITLE_CLASS = "history-title"
        var BOOK_ID_CLASS = "history-book-id"
        var PROGRESS_CLASS = "history-progress"
        var DATE_CLASS = "history-date"
        var ACTIONS_CLASS = "history-actions"
        var BOOK_ID_ATTRIBUTE = "bookId"
        var ORPHANED_CLASS = "history-orphaned"
        var ORPHANED_CONTENT = "orphaned"

        function deleteElementsForBookId(bookId) {
            let sel = Array.from(document.getElementById("ch_read_history").childNodes).filter(e => e.getAttribute).filter(e => e.getAttribute("bookId") == bookId)
            sel.forEach(e => e.remove())
        }

        function deleteProgress(id, element) {
            var xhttp = new XMLHttpRequest()
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        deleteElementsForBookId(id)
                    }
                }
            }
            xhttp.open("DELETE", "removeProgress?id=" + id)
            xhttp.send()
        }
        function showSpinner() {
            var spinner = document.getElementById("spinner")
            spinner.style.display = "block"
        }
        function hideSpinner() {
            var spinner = document.getElementById("spinner")
            spinner.style.display = "none"
        }
        function getTableRow(book) {
            let elements = []

            var collection = document.createElement("span")
            collection.classList.add(COLLECTION_CLASS)
            collection.setAttribute(BOOK_ID_ATTRIBUTE, book.id)
            addCollectionLinkTokens(collection, book.collection, '/', searchLinkBuildHrefFunction)
            elements.push(collection)

            var title = document.createElement("span")
            title.classList.add(TITLE_CLASS)
            title.setAttribute(BOOK_ID_ATTRIBUTE, book.id)
            var titleLink = document.createElement("a")
            titleLink.href = book.type + "?id=" + book.id
            titleLink.innerHTML = book.title
            title.appendChild(titleLink)
            elements.push(title)

            var bookId = document.createElement("span")
            bookId.classList.add(BOOK_ID_CLASS)
            bookId.setAttribute(BOOK_ID_ATTRIBUTE, book.id)
            bookId.innerHTML = book.id
            elements.push(bookId)

            var progress = document.createElement("span")
            progress.classList.add(PROGRESS_CLASS)
            progress.setAttribute(BOOK_ID_ATTRIBUTE, book.id)
            var percent = ((book.progress + 1) / parseFloat(book.pages)) * 100
            progress.innerHTML = Math.floor(percent) + "%"
            elements.push(progress)

            var date = document.createElement("span")
            date.classList.add(DATE_CLASS)
            date.setAttribute(BOOK_ID_ATTRIBUTE, book.id)
            var lastUpdate = new Date(book.lastUpdate)
            date.innerHTML = lastUpdate.getFullYear() + "-" + (lastUpdate.getMonth() + 1) + "-" + lastUpdate.getDate() + " " + lastUpdate.getHours() + ":" + lastUpdate.getMinutes()
            elements.push(date)

            var orphaned = document.createElement("span")
            orphaned.classList.add(ORPHANED_CLASS)
            orphaned.setAttribute(BOOK_ID_ATTRIBUTE, book.id)
            if (book.orphaned) orphaned.innerHTML = ORPHANED_CONTENT
            elements.push(orphaned)

            var actions = document.createElement("span")
            actions.classList.add(ACTIONS_CLASS)
            actions.setAttribute(BOOK_ID_ATTRIBUTE, book.id)
            var removeProgressButton = document.createElement("a")
            removeProgressButton.onclick = function(event) {
                deleteProgress(book.id, this)
            }
            removeProgressButton.innerHTML = "delete"
            actions.appendChild(removeProgressButton)
            elements.push(actions)

            return elements
        }
        function loadHistory() {
            var xhttp = new XMLHttpRequest();
            showSpinner()
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        var books = JSON.parse(this.responseText)
                        if (books.length > 0) {
                            let bookIds = []
                            for (var i = 0; i < books.length; i++) {
                                var book = books[i]
                                var history = document.getElementById("ch_read_history")
                                if (history != null) {
                                    let row = getTableRow(book)
                                    for (let i = 0; i < row.length; i++) {
                                        history.appendChild(row[i])
                                    }
                                }
                            }

                        }
                    }
                    hideSpinner()
                }
            }
            xhttp.open("GET", "historyData")
            xhttp.send()
        }
        window.onload = function() {
            document.documentElement.style.setProperty('--accent-color', SETTING_ACCENT_COLOR.get())
            document.documentElement.style.setProperty('--foreground-color', SETTING_FOREGROUND_COLOR.get())
            document.documentElement.style.setProperty('--background-color', SETTING_BACKGROUND_COLOR.get())
            setStatusBarColor(SETTING_ACCENT_COLOR.get())
            loadHistory()
        }
    </script>
</head>
<body>
<h1>This is a list of everything you read.</h1>
<p>Go to <a href="/">Library</a></p>
<p>
<p id="ch_read_history" class="history">
    <span class="header">collection</span><span class="header">title</span><span class="header">checksum</span><span class="header">progress</span><span class="header">read date</span><span class="header">orphaned</span><span class="header">actions</span>
    </table>
</p>
<div id="spinner">
    <svg id="ch_spinner_svg" class="spinner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;" viewBox="0 0 30 50" preserveAspectRatio="xMidYMid">
        <rect class="background" x="6" y="6" width="18" height="38" stroke="#ffffff" stroke-width="12" fill="none"></rect>
        <rect class="foreground" x="6" y="6" width="18" height="38" stroke="#000000" stroke-width="10" fill="none"></rect>
        <rect class="accent" x="6" y="6" width="18" height="38" stroke-width="10" stroke-linecap="square" fill="none" stroke-dasharray="56 56">
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="4s" keyTimes="0;0.5;1" values="0;-56;-112"></animate>
        </rect>
    </svg>
</div>
</body>
</html>