<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/headFragment :: normalModeViewport"></div>  
    <div th:replace="fragments/headFragment :: normalPage"></div>
    <title>Import Data - Chronic Reader</title>
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="form.css">
    <link rel="stylesheet" type="text/css" href="more.css">
    <script src="settings.js"></script>
    <script src="util.js"></script>
    <script src="import.js"></script>
</head>
<body>
<h1>Import Data</h1>
<p th:if="${message != null}" th:utext="${message}">a message</p>
<form th:action="@{/import}" method="post" autocomplete="off">
    <input id="formAction" type="hidden" name="action" value="" />
    <p><textarea id="data" name="data" placeholder="csv data"></textarea></p>
    <p class="submit">
        <input type="button" value="Import Progress" onclick="importSubmit('progress')"/>
        <input type="button" value="Import Users" onclick="importSubmit('importUsers')"/>
        <input type="button" value="Add Users" onclick="importSubmit('addUsers')"/>
        <input type="button" value="Delete Users" onclick="importSubmit('deleteUsers')"/>
    </p>
</form>
<p><a href="/exportProgress" download="progress.csv">Export Progress</a></p>
<p><a href="/exportUsers" download="users.csv">Export Users</a></p>
<p>The following formats can be used to import data into to system. Format describes each line in the CSV data that must be written in the text area above.</p>
<p>Import progress format: username, author, title, section, position, finished.</p>
<p>Import users format: username, encoded password.</p>
<p>Add users format: username, password.</p>
<p>Delete users format: username.</p>
<p><a href="/">Library</a></p>
</body>
</html>
