<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="gold">
    <title>Library - Chronic Reader</title>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/shortcut.png">
    <link rel="icon" href="/shortcut.png">
    <link rel="icon" sizes="16x16" href="/shortcut16.png">
    <link rel="icon" sizes="24x24" href="/shortcut24.png">
    <link rel="icon" sizes="32x32" href="/shortcut32.png">
    <link rel="icon" sizes="48x48" href="/shortcut48.png">
    <link rel="icon" sizes="64x64" href="/shortcut64.png">
    <link rel="icon" sizes="192x192" href="/shortcut192.png">
    <link rel="apple-touch-icon" href="/shortcut.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/shortcut152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/shortcut180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/shortcut167.png">
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="form.css">
    <link rel="stylesheet" type="text/css" href="library.css">
    <script src="settings.js"></script>
    <script src="util.js"></script>
    <script src="library.js"></script>
</head>
<body>
<!--div class="latestRead" id="ch_latestRead">
    <h1>Latest Read</h1>
</div-->
<h1 id="ch_latestReadTitle">Latest Read</h1>
<ul id="ch_latestRead"></ul>
<div class="tools" id="tools">
    <input name="search" id="search" type="text" placeholder="Search" autocomplete="off" autofocus />
    <button id="clearsearch" onclick="clearTerm()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" viewBox="0 0 4 4" preserveAspectRatio="xMidYMid"><path d="M 0 1 L 1 2 L 0 3 L 1 4 L 2 3 L 3 4 L 4 3 L 3 2 L 4 1 L 3 0 L 2 1 L 1 0 Z"></path></svg>
    </button>
    <button id="toggletitles" onclick="toggleTitles()"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" viewBox="-0.2 0 12 8.2" preserveAspectRatio="xMidYMid">
        <path
                d="m 2.76225,0.783163 -1.322917,0.05292 -0.4445,2.360083 H 0 L 0.169333,0 H 7.143749 L 7.281333,3.196166 H 6.339416 L 5.873749,0.836083 4.593166,0.783163 v 6.265334 l 1.471083,0.116416 v 0.6985 H 1.418166 v -0.6985 L 2.76225,7.048497 Z"
        />
        <path d="m 9.732532,7.958663 q -0.6985,0 -1.037167,-0.3175 Q 8.367282,7.31308 8.367282,6.635747 V 2.86808 H 7.721699 V 2.254247 l 0.211666,-0.08467 q 0.254,-0.08467 0.4445,-0.179917 0.211667,-0.201083 0.338667,-0.529166 0.15875,-0.381 0.34925,-1.068917 h 0.98425 l 0.0635,1.5875 h 1.513416 v 0.889 h -1.49225 V 5.67266 q 0,0.582084 0.03175,0.814917 0.03175,0.232833 0.116417,0.306917 0.09525,0.0635 0.338667,0.0635 0.497416,0 0.941916,-0.169334 l 0.22225,0.66675 Q 11.489365,7.598827 10.907282,7.778744 10.325198,7.95866 9.732532,7.95866 Z"/>
    </svg></button>
    <a id="more" href="/more" title="more">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" viewBox="0 0 5 5" preserveAspectRatio="xMidYMid">
            <path d="M 0 0 L 5 0 L 5 1 L 0 1 Z M 0 2 L 5 2 L 5 3 L 0 3 Z M 0 4 L 5 4 L 5 5 L 0 5 Z"></path>
        </svg>
    </a>
</div>
<div id="spinner">
    <svg id="ch_spinner_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" viewBox="0 0 100 140" preserveAspectRatio="xMidYMid">
        <rect class="background" x="20" y="20" width="60" height="100" stroke="#ffffff" stroke-width="22" fill="none"></rect>
        <rect class="foreground" x="20" y="20" width="60" height="100" stroke="#000000" stroke-width="20" fill="none"></rect>
        <rect class="accent" x="20" y="20" width="60" height="100" stroke="#ffd700" stroke-width="20" stroke-linecap="square" fill="none" stroke-dasharray="160 160">
            <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="3s" keyTimes="0;0.5;1" values="0;-160;-320"></animate>
        </rect>
    </svg>
</div>
</body>
</html>