<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Login - Chronic Reader</title>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/gold_logo.png">
    <link rel="apple-touch-icon" href="/gold_logo.png">
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="form.css">
    <link rel="stylesheet" type="text/css" href="login.css">
    <script>
        window.onload = function() {
            window.localStorage.clear()
        }
    </script>
</head>
<body>
<div class="container">
    <h1><img src="gold_logo.png"></h1>
    <p th:if="${param.error}">Invalid credentials.</p>
    <p th:if="${param.logout}">You have been logged out.</p>
    <form th:action="@{/login}" method="post" autocomplete="off">
        <p><input id="username" type="text" name="username" placeholder="username" autofocus autocorrect="off" autocapitalize="none" autocomplete="off"/></p>
        <p><input id="password" type="password" name="password" placeholder="password"/></p>
        <input type="checkbox" name="remember-me" checked hidden>
        <p class="submit"><input type="submit" value="Sign In"/></p>
    </form>
</div>
</body>
</html>