<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>More - Chronic Reader</title>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/shortcut.png">
    <link rel="icon" href="/shortcut.png">
    <link rel="icon" sizes="16x16" href="/shortcut16.png">
    <link rel="icon" sizes="24x24" href="/shortcut24.png">
    <link rel="icon" sizes="32x32" href="/shortcut32.png">
    <link rel="icon" sizes="48x48" href="/shortcut48.png">
    <link rel="icon" sizes="64x64" href="/shortcut64.png">
    <link rel="icon" sizes="192x192" href="/shortcut192.png">
    <link rel="apple-touch-icon" href="/shortcut.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/shortcut152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/shortcut180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/shortcut167.png">
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="more.css">
    <script src="settings.js"></script>
    <script src="util.js"></script>
    <script>
        function clearStorage(element) {
            window.localStorage.clear()
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.controller.postMessage({type: 'reset'})
            }
            element.innerHTML = element.innerHTML + " - done!"
            loadSettings()
            updateAccentColor()
            updateBackgroundColor()
            updateForegroundColor()
        }

        function updateAccentColor() {
            document.documentElement.style.setProperty('--accent-color', SETTING_ACCENT_COLOR.get())
            if (updateStatusBarForMorePage) updateStatusBarForMorePage()
        }

        function updateStatusBarForMorePage() {
            setStatusBarColor(SETTING_ACCENT_COLOR.get())
        }

        function updateForegroundColor() {
            document.documentElement.style.setProperty('--foreground-color', SETTING_FOREGROUND_COLOR.get())
        }

        function updateBackgroundColor() {
            document.documentElement.style.setProperty('--background-color', SETTING_BACKGROUND_COLOR.get())
            if (updateStatusBarForMorePage) updateStatusBarForMorePage()
        }

        function setDaySettingsStatus() {
            let bookMode = SETTING_BOOK_MODE.get()
            if (bookMode == 1) {
                document.getElementsByName(SETTING_DAY_START.name)[0].disabled = false
                document.getElementsByName(SETTING_DAY_END.name)[0].disabled = false
            } else {
                document.getElementsByName(SETTING_DAY_START.name)[0].disabled = true
                document.getElementsByName(SETTING_DAY_END.name)[0].disabled = true
            }
        }

        function loadSettings() {
            let settingsWrapper = document.getElementById('settings')
            settingsWrapper.innerHTML = ""
            appendAll(settingsWrapper, [SETTING_LATEST_READ_LIMIT.label, SETTING_LATEST_READ_LIMIT.controller])
            appendAll(settingsWrapper, [SETTING_ACCENT_COLOR.label, SETTING_ACCENT_COLOR.controller])
            appendAll(settingsWrapper, [SETTING_FOREGROUND_COLOR.label, SETTING_FOREGROUND_COLOR.controller])
            appendAll(settingsWrapper, [SETTING_BACKGROUND_COLOR.label, SETTING_BACKGROUND_COLOR.controller])
            if (onIOS()) {
                appendAll(settingsWrapper, [SETTING_DESIRED_STATUS_BAR_LUMINANCE.label, SETTING_DESIRED_STATUS_BAR_LUMINANCE.controller])
            }
            appendAll(settingsWrapper, [SETTING_BOOK_MODE.label, SETTING_BOOK_MODE.controller])
            SETTING_BOOK_MODE.addListener(setDaySettingsStatus)
            appendAll(settingsWrapper, [SETTING_DAY_START.label, SETTING_DAY_START.controller])
            appendAll(settingsWrapper, [SETTING_DAY_END.label, SETTING_DAY_END.controller])
            setDaySettingsStatus()
        }

        function rescan() {
            var xhttp = new XMLHttpRequest()
            xhttp.open("get", "scan")
            xhttp.send()
            document.getElementById("rescanning_message").innerHTML = " (rescanning...)"
        }

        window.onload = function() {
            updateAccentColor()
            updateForegroundColor()
            updateBackgroundColor()

            loadSettings()

            SETTING_ACCENT_COLOR.addListener(updateAccentColor)
            SETTING_BACKGROUND_COLOR.addListener(updateBackgroundColor)
            SETTING_FOREGROUND_COLOR.addListener(updateForegroundColor)
            SETTING_DESIRED_STATUS_BAR_LUMINANCE.addListener(updateAccentColor)
        }
    </script>
</head>
<body>
<h1>Chronic Reader Pages</h1>
<p><a href="/">Library</a></p>
<p><a href="/collections">Collections</a></p>
<p><a href="/history">History</a></p>
<p class="end"><a href="/help">Help</a></p>
<h2>Settings and Tools</h2>
<p id="settings" class="settings"></p>
<p><a href="/password">Change Password</a></p>
<p th:if="${admin}"><a onclick="rescan()">Scan library</a><span id="rescanning_message" th:if="${lastScanDate}"> (last scanned at <span th:text="${lastScanDate}">last scan date</span>)</span></p>
<p th:if="${admin}"><a href="/import">Import Data</a></p>
<p class="end"><a onclick="clearStorage(this)">Clear Local Cache</a></p>
<h2>Exit</h2>
<p class="end"><a href="/logout">Logout</a></p>
</body>
</html>