<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Password Reset - Chronic Reader</title>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/gold_logo.png">
    <link rel="apple-touch-icon" href="/gold_logo.png">
    <link rel="stylesheet" type="text/css" href="fonts.css">
    <link rel="stylesheet" type="text/css" href="form.css">
    <link rel="stylesheet" type="text/css" href="login.css">
    <style>
        input[type="submit"], input[type="button"] {
            width: 45%;
        }
        input[type="button"] {
            margin-left: 10%;
        }
    </style>
    <script>
        function cancel() {
            window.location = "/settings"
        }
    </script>
</head>
<body>
<div class="container">
    <h1>Change Password</h1>
    <p th:if="${param.error}">Failed to change password.</p>
    <form th:action="@{/password}" method="post" autocomplete="off">
        <p><input id="oldPassword" type="password" name="oldPassword" placeholder="old password" autofocus/></p>
        <p><input id="newPassword" type="password" name="newPassword" placeholder="new password"/></p>
        <p><input id="newPasswordConfirm" type="password" name="newPasswordConfirm" placeholder="confirm new password"/></p>
        <p class="submit"><input type="submit" value="Change"/><input type="button" value="Cancel" onclick="cancel()"/></p>
    </form>
</div>
</body>
</html>