<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Positions Test</title>
    <style>
    </style>
    <script>
        function loadData() {
            var xhttp = new XMLHttpRequest()
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this)
                    var content = document.getElementById("content")
                    content.innerHTML = this.response
                }
            }
            xhttp.open("GET", "positions_test_data", true)
            xhttp.send()
        }
        function loadComputedData() {
            var xhttp = new XMLHttpRequest()
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this)
                    var content = document.getElementById("computedData")
                    content.innerHTML = this.response
                }
            }
            xhttp.open("GET", "positions_test_computed_data", true)
            xhttp.send()
        }
        function computeLength() {
            var content = document.getElementById("content")
            var l = content.innerText.length
            console.log(l)
            return l
        }
        function computeLengthWithoutSpaces() {
            //.replace(/\s/g,'')
            var content = document.getElementById("content")
            var l = content.innerText.replace(/\s/g,'').length
            console.log(l)
            return l
        }
    </script>
</head>
<body>
<h1>Positions Test</h1>
<div id="content"></div>
<div id="computedData"></div>
<script>
    loadData()
    loadComputedData()
</script>
</body>
</html>