<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Chronic Comic Reader - Settings</title>
    <style>
        body {
            font-size: 2em;
            background-color: black;
            color: gold;
        }
        h1 {
            font-size: 1.2em;
        }
        a {
            color: gold;
        }
    </style>
</head>
<body>
<h1>Chronic Comic Reader Settings</h1>
<p><a href="/collections">Collections</a></p>
<p><a id="help" href="/help">Help</a></p>
<p><a href="/">Go back</a></p>
<p><a id="logout" href="/logout">Logout</a></p>

</body>
</html>