<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Chronic Comic Reader - Settings</title>
    <style>
        body {
            font-size: 2em;
            background-color: black;
            color: gold;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            font-size: 1.2em;
        }
        a {
            color: gold;
        }
        #container {
            width: 1000px;
            margin: auto;
        }
        @media all and (max-width: 999px) {
            #container {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<div id="container">
    <h1>Chronic Comic Reader Settings</h1>
    <p><a href="/collections">Collections</a></p>
    <p><a href="/help">Help</a></p>
    <p><a href="/password">Change password</a></p>
    <p th:if="${admin}"><a href="/users">Manage users</a></p>
    <p th:if="${admin}"><a href="/exportProgress" download="progress.csv">Export progress</a></p>
    <p th:if="${admin}"><a href="/exportUsers" download="users.csv">Export users</a></p>
    <p th:if="${admin}"><a href="/importProgress">Import progress</a></p>
    <p><a href="/">Go back</a></p>
    <p><a href="/logout">Logout</a></p>
</div>
</body>
</html>